[2017-11-18 03:26] #1610 closed

[2017-11-20 13:29] KevinChagnon commented on #1598
@Steph4104 - oui "Collègues de Username"

"Demandes de collègue" devrais aussi être "Demandes de collègue**s**"

[2017-11-20 13:29] KevinChagnon commented on #1598
Closed ticket in error - re-opened ticket

[2017-11-20 16:06] #1571 closed

[2017-11-20 16:10] KevinChagnon commented on #1604
Here is a link to a page where the group owner/creator of the page no longer sees the option to Edit the page: https://gcconnex.gc.ca/pages/view/9652881/a-la-carte-precedents

![image](https://user-images.githubusercontent.com/23527358/33028160-16de1362-cde3-11e7-9da9-1048acb84a7e.png)

The page could be Edited by changing "View" in the address bar to "Edit" - put this does not make the Edit butto

[2017-11-20 16:37] lucbelliveau commented on #1303
I submitted a PR to allow "unlimited" search results as well as showing "all" candidate results on a single page.

@ToferC Did you want to bump up the minimum results per page for opportunities from 9 to 30?  What about the member search?

Regarding the whole 120 capping out at 100 thing - this is controlled by a plugin setting on the backend... Someone will have to visit /admin and change the set

[2017-11-20 16:55] Eldoraaoun opened #1614 "Opportunities Platform ->Search members, Advanced find, Opt-In field should be a drop down menu of all types of opportunities"
In “Search members”-> “Advanced find” -> Opt-In field should be a drop down menu of all mechanisms (Micro-Mission,  Mentoring,  Job Swap,  Job Shadowing,  Assignment/ Secondment,  Deployment,  Job Rotation,  Job Sharing, Skill Sharing  Peer Coaching). Currently it is a free text box.

Bug! @LemieuxGen

[2017-11-20 20:01] Steph4104 commented on #1565
@KevinChagnon

[2017-11-20 22:14] ToferC commented on #1303
Minimum 30 sounds good. 9 is definitely too few. @phanoix - can you look
into config settings?

On Mon, Nov 20, 2017, 11:37 AM Luc Belliveau, <notifications@zube.io> wrote:

[2017-11-21 00:19] lucbelliveau commented on #1303
Changed to 30.

[2017-11-21 14:34] KevinChagnon commented on #1605
+1

It is important to know that the invited email address is added to the listed of Invited email addresses regardless of the Oops error.

We would need to verify the mail log to see if the email actually went through - as per my testing (screenshots below) the email does not send.

![image](https://user-images.githubusercontent.com/23527358/33077832-ded7bd80-ce9e-11e7-840e-1f4580c7979e.png)

![i

[2017-11-21 14:36] markwooff commented on #1605
I think this may be related to an issue I fixed yesterday on GCcollab. Email invitation weren't being sent out because of the way notifications were set up. Will push the fix for this on GCconnex as well.

[2017-11-21 14:47] markwooff commented on #1605
PR created at https://github.com/gctools-outilsgc/gcconnex/pull/1615

[2017-11-22 20:08] ToferC opened #1616 "Error in share from some group files"
https://gcconnex.gc.ca/file/group/25886401/all#32876596

Receive error "You cannot access AJAX views directly" from ESDC Innovation Lab files: https://gcconnex.gc.ca/file/group/25886401/all#32876596

Error also arises when sharing file, folder or group from this page.

Switching to group page itself https://gcconnex.gc.ca/groups/profile/25886401/enesdc-innovation-labfrlab-dinnovation-dedsc --Remov

[2017-11-23 14:16] LemieuxGen commented on #1605
@markwooff will this be pushed over the weekend? and is there a way we can test to see if this will in fact fix the issue?

[2017-11-23 14:19] markwooff commented on #1605
It's live on GCcollab and has been proven to fix the issue by the fact that users are actually receiving group invitations now. Could ask one of the devs to test on GCconnex?

[2017-11-23 17:57] KevinChagnon commented on #637
https://github.com/Phanoix/gcconnex-help/issues/36

[2017-11-23 18:39] klecuyer opened #1617 "Messages displaying special characters / weird formatting"
Here's a link to the user's inbox: https://gcconnex.gc.ca/messages/inbox/Mathieu.Blondin

Linked to https://github.com/Phanoix/gcconnex-help/issues/37

Messages are displaying weird characters and it's causing the formatting/display to be off. See screenshots:
![image](https://user-images.githubusercontent.com/29754185/33185875-880f845e-d053-11e7-8bc4-add977fc48db.png)

![image](https://user-image

[2017-11-23 19:41] #1553 closed

[2017-11-24 12:18] #1598 closed

[2017-11-24 14:18] beckyjeong opened #1620 "Confirmation for Deactivate my account - require change in wording"
@piet0024 - @LemieuxGen has suggested that since it is a simple change in wording, if this could be completed by end of this sprint, it would be great 👍

The confirmation for "Deactivate my account" says (refer to the attachment):
- To confirm your intent to delete your account please enter your password

1. Should change to "To confirm your intent to **deactivate** your account**,** please enter

[2017-11-24 15:17] KevinChagnon commented on #1494
@Steph4104   more JSON errors found when viewing GCconnex in French or English:
This is in the photo Album section of a group:

https://gcconnex.gc.ca/photos/siteimagesgroup/31049185

![image](https://user-images.githubusercontent.com/23527358/33216116-89c62a7a-d100-11e7-8df3-7534111667fe.png)

[2017-11-24 18:35] Eldoraaoun commented on #1293
#1303

[2017-11-24 18:35] #1293 closed

[2017-11-24 18:41] Eldoraaoun opened #1624 "Pop-up box first time Opting-in, all opportunity types should have box checked off as default."
"Opt In" pop-up box on the Opportunities Platform, all opportunity types should have boxes checked off as a default.

The instructions in the pop-up box says to "select the opportunities that interest you" - the instructions don't make sense if the boxes are all pre-selected. We should also push users to only select the opportunity types they are really interested in.

[2017-11-24 18:46] Eldoraaoun opened #1625 "BUG - Opportunities Platform only show's latest 100 posts in Search Opportunities tab."
In the Opportunities Platform, the Search Opportunities page caps at 100 results. If you set the max number of opportunities per page to 120, the platform says "This search has reached the maximum number of entities." with the oldest post being only 3 weeks old. Also, the interface says there is a total of 120 results per page, but there are only 100 posts that appear.

The platform is not showing

[2017-11-24 19:19] klecuyer opened #1626 "Users receiving notifications for group content they do not have access to"
User reports receiving email notification for 'closed' content set to 'only me' for both read/write access.
As a user, I don't want to receive notifications for content I don't have access to.
As a content creator, I don't want other group members to receive notifications for content I have not yet published.

Link to content: https://gcconnex.gc.ca/pages/view/32818667/enjosu00e9phine-bacon-poetfr

[2017-11-24 19:19] klecuyer commented on #1626
Linked to https://github.com/Phanoix/gcconnex-help/issues/38

[2017-11-24 20:10] KevinChagnon opened #1627 "Broken URL - Jobs Marketplace"
Some links in Jobs Marketplace are giving an Error 500;

![image](https://user-images.githubusercontent.com/23527358/33222977-8f0ce040-d129-11e7-96d0-3fe1681dbdf0.png)

DEPLOYMENT/Assignment/Secondment EC‑03 or EC 04 Opportunity at the Treasury Board Secretariat / MUTATION/Affectation/Détachement EC 03 ou EC 04 Possibilité au Secrétariat du Conseil du Trésor

https://gcconnex.gc.ca/gcforums/topic/

[2017-11-24 20:11] KevinChagnon commented on #1627
## **https://github.com/Phanoix/gcconnex-help/issues/39**

[2017-11-24 21:04] #1620 closed

[2017-11-26 13:08] #1604 closed

[2017-11-27 14:37] Steph4104 commented on #1425
Fix in pull request #1498

[2017-11-27 14:37] #1425 closed

[2017-11-27 16:03] LemieuxGen commented on #1627
@KevinChagnon Can you provide the link to the page where the broken link is located?

[2017-11-27 16:10] joymosk opened #1628 "Wire: expanding to 280 characters or allowing long URLs"
As a communicator, in order to promote GCTools content within the Wire, I need to be able to post a full URL in my post (eg. http://www.gcpedia.gc.ca/wiki/Register:_GCTools_Information_Session) . Many departments block external URL shorteners.
Given that Twitter is now 280 characters, could the Wire either go to that length or remove URLs from the character count?

[2017-11-27 16:19] ethanWallace opened #1629 "Merge users"
Some entity types do not transfer properly.

[2017-11-27 16:56] Phanoix opened #1630 "Create kubernetes deployment file"

[2017-11-27 17:33] markwooff commented on #1628
There's a setting in the Elgg backend that can be switched to change the character limit for the wire:

![image](https://user-images.githubusercontent.com/5591488/33280097-f3bc0204-d36e-11e7-8965-a3a27c203e99.png)

The numbers could be changed from the static 140/250 if needed, but technically this change wouldn't be hard to do. The larger discussion would be whether this change should be done or

[2017-11-27 19:40] s-duffey commented on #1628
I like the idea of removing URLs from the character count rather than adding more characters. More characters makes the Wire even more similar to other functions (i.e. discussions, blogs, bookmarks etc.)

Even better, if we could make our own URL shortener integrated into the Wire (part of rebuild?) that would be awesome!

[2017-11-27 19:46] markwooff commented on #1628
Agree that removing URLs from the count would be ideal. This could also be done fairly quickly but not sure if it is high enough priority at the moment.

[2017-11-27 19:50] s-duffey commented on #1628
Absolutely! Just things to consider for rebuild :)

[2017-11-28 14:30] Steph4104 commented on #1424
Fix with #1596

[2017-11-28 14:30] #1424 closed

[2017-11-28 14:44] pandurx commented on #1626
The notifications seems to be working fine with the access level. I created a page with access set to Only Me, I did not receive anything.

[2017-11-28 15:06] ethanWallace commented on #1629
@KevinChagnon Please add more details to this issue.

[2017-11-28 15:16] KevinChagnon commented on #1629
**Unable to upload screenshots at this time.  will try later (they go between all this text)**

Profiles used:

https://gcconnex.gc.ca/profile/user1
https://gcconnex.gc.ca/profile/user2

Selected Merge from Admin panel

Selections: I did not select to delete a profile.

Clicked Merge – then OK

 **Confirmation message: Seems incomplete** – **no details as to status of User 1**

**OBSERVATIONS** (a

[2017-11-28 15:48] pandurx commented on #1627
@KevinChagnon
I'm trying to find out where this opportunity would be listed but I cannot seem to be able to find it. I looked up the id of the forum topic, but it doesn't seem to exist in the database.
Perhaps the poster had deleted the topic?

[2017-11-28 16:18] KevinChagnon commented on #1627
I am waiting for a reply from the client as to how she found the link.
If you do a search for it by keyword.... EC‑03 or EC 04 Opportunity at the Treasury.... it does come up in search results.

trying to upload the screenshot, but it's not working

[2017-11-28 17:36] LemieuxGen commented on #1604
@klecuyer Now that this is puched on production, can you confirm if the group members have access to edit pages (based on the access level set)? thanks!

[2017-11-28 17:46] klecuyer commented on #1604
@LemieuxGen yes I can confirm this is working. Tested yesterday and again just now to be sure. Freshdesk tickets have been resolved, notifying users.

[2017-11-28 20:06] rebeccablake commented on #1628
Agree with removing URLs from character count altogether - user friendly (to this user at least) and no need to mess around with URL shorteners and all that jazz. On another note, what's the best way to submit ideas for the rebuild? Let's face it, public servants rely heavily on their email as a work tool. Anything that better integrates email and/or instant messaging could go a long way in better

[2017-11-29 16:07] pandurx commented on #1627
I'm not sure when the post started giving out the HTTP500 error, but another example is https://gcconnex.gc.ca/profile/Erik.Tremblay1 (I know this profile does not exist because I just had his username changed yesterday morning)

[2017-11-29 16:29] KevinChagnon commented on #1629
@ethanWallace  @LemieuxGen - all notes and screenshots from testing the Merge plugin have been added above.

[2017-11-30 14:30] piet0024 commented on #1608
@KevinChagnon do we know if this is still an issue? I just visited this album not logged in and the page displayed. Perhaps the network was slow that day and it timed out?

[2017-11-30 15:37] s-duffey opened #1634 "Language settings on profile now shows Dutch and 2 others"
When I go to my account settings, under language settings, there are now 6 options:

- English
- French
- Dutch
- en_newer
- fr_newer

![image](https://user-images.githubusercontent.com/31668114/33439010-67548130-d5ba-11e7-8c7d-cbb83038cb08.png)

Wondering if this is something to do with integration/working with PLEIO's code?

[2017-11-30 15:53] Troy-Lawson commented on #1605
@Steph4104 can you take a look at this from the gcconnex side?

[2017-11-30 19:04] Steph4104 commented on #1605
I test on Prod and I was able to invite user by email and reinvite the same by email with the resend box check.

[2017-11-30 19:04] #1605 closed

[2017-11-30 19:07] #1502 closed

[2017-11-30 19:46] KevinChagnon commented on #1608
Yep..still an issue.

https://gcconnex.gc.ca/photos/siteimagesgroup/31049185

If I open this link and am not logged in. I get the Oops msg.

![image](https://user-images.githubusercontent.com/23527358/33451407-fd1d8cee-d5dc-11e7-8495-78e2193fa636.png)

Once i click on a picture:

![image](https://user-images.githubusercontent.com/23527358/33451454-1a1c0564-d5dd-11e7-9224-5a2eb5170c1b.png)

I selec

[2017-11-30 21:36] nschonni opened #1637 "Digest including file updates under wrong/blank group"
[2017-11-30-Your Daily Digest.zip](https://github.com/gctools-outilsgc/gcconnex/files/1519555/2017-11-30-Your.Daily.Digest.zip)
Full email attached, but you can see in the screenshot, there is notifications for another group inbetween the Discussion and File updates
![image](https://user-images.githubusercontent.com/1297909/33456164-8cc147c8-d5ec-11e7-9d80-a2897675fc86.png)

[2017-12-01 16:51] markwooff commented on #1614
This issue should be fixed with my latest commit. Had already been set to a dropdown on GCcollab.

[2017-12-04 18:32] pandurx commented on #1627
This issue is closely related to the Search index and not the Forums, but I've updated the code so that it will display "Page not found" instead of HTTP500 Error

[2017-12-05 13:10] LemieuxGen commented on #1627
@pandurx Will you be looking into it? or do you want us to assign it to @4rsood?

[2017-12-05 19:58] pandurx opened #1640 "Wire Images (notification)"
@LemieuxGen
The notification (both site and email) now displays the image that the user uploads and posts on the Wire.
Digest should also have the image and message displayed, for consistency.

@markwooff @ethanWallace
**confirmed that the wire-message works for share and reply**
When I attempt to do a share to the wire or reply on the wire, it doesn't seem to invoke the action file. No PHP error,

[2017-12-05 19:59] pandurx commented on #1627
@LemieuxGen
This has to do with the GSA's indexing capability, for some reason the old index are not being removed correctly (@4rsood has those page results removed and it doesn't come up anymore)

[2017-12-05 20:13] pandurx commented on #1227
Referencing the pull request: https://github.com/gctools-outilsgc/gcconnex/pull/1593

[2017-12-06 14:06] #1617 closed

[2017-12-06 18:18] klecuyer opened #1642 "Department tab in newsfeed gives 500 error"
User reports this is hit or miss. Sometimes clicking on his department tab in the Newsfeed brings a 500 error.

User: sas120
Department: National Defense

Linked to https://github.com/Phanoix/gcconnex-help/issues/41

Was unable to replicate.

[2017-12-06 18:26] klecuyer commented on #1642
From user, just now:
Good day,

I did some testing and it looks like it might be related to a specific post within the set. If I try to look historically, there seems to be a certain entry (now in the 30’s in recent history) that seems to cause the access issue. Maybe a special character or something?

Scott

[2017-12-06 18:42] klecuyer opened #1643 "500 error when trying to access a group while not logged in"
As a user, if I click a link to a group (or anything I can't access), but I'm not logged in, I should be brought to the login page with a notice that I have to be logged in to view this page.

I tested this twice with two different results. The user reports getting a 500 error when accessing a group while not logged in that is only visible to logged in GCconnex users.

The first time, everything w

[2017-12-06 20:10] klecuyer opened #1644 "Add to GCconnex inquiry: Office of the Parliamentary Budget"
https://support.gctools-outilsgc.ca/helpdesk/tickets/1383

PBO is now an independent agency- we are no longer part of the Library of Parliament
@parl.gc.ca

@JOutram77 @KevinChagnon

[2017-12-06 20:21] klecuyer commented on #1644
Since Sep 21, PBO is now independent
http://www.pbo-dpb.gc.ca/en/

[2017-12-07 13:35] klecuyer commented on #1278
@JOutram77 this is another one has been pending for a while, but we didn't yet have a clear path of workflow. Can you consider/research and get back to me?
Parliamentary Protective Service

[2017-12-07 15:23] Troy-Lawson commented on #1554
mAKE WORK WITH IMAGES

[2017-12-07 16:45] KevinChagnon opened #1649 "Group Admin Options not working"
Some of the Group Admin Options are not working;

Limit Owner Block: Does not work - no change on Group home page
Hide the Join Group/Request Membership button:  Does not work - no change on Group home page
Hide Sidebar items:  Does not work - no change on Group home page
Hide Search in Groups:  There is no Search in group

![image](https://user-images.githubusercontent.com/23527358/33726686-bb4a0

[2017-12-07 16:46] KevinChagnon commented on #1649
https://github.com/Phanoix/gcconnex-help/issues/43

[2017-12-07 16:54] KevinChagnon opened #1650 "Wrong text on button in Edit Group"
The text "Tag and Create" on the button under the Edit Group/Admin Options/Show group profile widgets.... is misleading and should be changed to "Save"

![image](https://user-images.githubusercontent.com/23527358/33727227-6b485196-db45-11e7-8fb0-de09b4501d92.png)

[2017-12-07 19:06] #1608 closed

[2017-12-07 19:28] #1602 closed

[2017-12-08 13:21] #1634 closed

[2017-12-08 19:26] KevinChagnon commented on #1494
Found some more JSON;

Logged in as Admin

Searched for group: IBSDB
Found: IBSDB's Collaboration Space ()

In "Managae Join Requests" ( https://gcconnex.gc.ca/groups/requests/33076183 )

![image](https://user-images.githubusercontent.com/23527358/33781713-a40d4f66-dc23-11e7-8027-cc6686e763e6.png)

[2017-12-08 19:27] klecuyer opened #1652 "Deactivated user still receiving email notifications for Opportunities he's Opted-in to"
User: Scott.Biggin

As a user, I should stop receiving all notifications from GCconnex once my account is deactivated, regardless of my notification settings.

Linked to https://github.com/Phanoix/gcconnex-help/issues/45

This user forwarded me an email received on his deactivated GCconnex account. It is for an Opportunity created that he had opted-in to.
![image](https://user-images.githubusercon

[2017-12-08 20:07] #1614 closed

[2017-12-10 17:44] #1627 closed

[2017-12-11 15:20] pandurx commented on #1652
@klecuyer if their account still exist in the system, then logically, they would receive the notifications.

[2017-12-11 16:26] klecuyer commented on #1652
@pandurx one of the reasons we suggest for deactivating their account is 'I am receiving too many notifications'

[2017-12-11 17:24] klecuyer opened #1653 "Oops Error when posting to The Wire"
Posting new content or sharing content on The Wire causes an Oops error:

![image](https://user-images.githubusercontent.com/29754185/33844362-202de4b0-de6e-11e7-8bc7-3a5aa687e954.png)

...BUT the content still posts:
![image](https://user-images.githubusercontent.com/29754185/33844405-3b5bc946-de6e-11e7-8ff0-935d73660026.png)

[2017-12-11 17:25] klecuyer commented on #1653
Linked to https://github.com/Phanoix/gcconnex-help/issues/46

[2017-12-11 18:35] pandurx commented on #1652
@piet0024 how does the deactivation plugin work?

[2017-12-11 19:56] klecuyer commented on #1642
Another user getting a 500 error. I tested logged in as him and got this:
![image](https://user-images.githubusercontent.com/29754185/33850939-77d78382-de83-11e7-8b04-7125fb4fd128.png)

User: tarek.akhtar
Department: Global Affairs

[2017-12-11 19:58] piet0024 commented on #1652
https://github.com/gctools-outilsgc/gcconnex/blob/gcconnex/mod/member_selfdelete/actions/delete.php#L68-L70

[code]
When a user deactivates I do this. What else would I have to do to remove all notifications?

[2017-12-13 14:46] s-duffey commented on #1653
Only an issue on Connex and not Collab

[2017-12-13 14:58] LemieuxGen commented on #1653
@Troy-Lawson Can we assign this to some to look at ASAP?

[2017-12-13 15:11] Troy-Lawson commented on #1653
@Phanoix and @pandurx, can you take a look and find out what is the issue here.
Thanks

[2017-12-13 16:48] Eldoraaoun commented on #1536
@LemieuxGen @Phanoix  Can we reopen this issue? The Opportunity Type field is now marked as required (great!), but Micro-Mission is still the default. Can we change it so that the first option is blank, so that users are forced to look at the drop-down menu and choose the appropriate mechanism.

Thank you!

[2017-12-13 16:55] Eldoraaoun commented on #1299
@LemieuxGen Hi Genevieve, can we please reopen this issue to add a drop-down menu to "Level". Thanks!

[2017-12-13 17:19] LemieuxGen commented on #1299
@Eldoraaoun Could you please confirm the values that should be included in the drop down menu. These would be dependent on the classification selected, correct? Thanks!

[2017-12-13 17:30] LemieuxGen commented on #1536
In Opportunities Platform on GCconnex and GCcollab, the opportunity type when creating a new opportunity currently defaults to "Mentoring" (collab) and "micro-mission" (connex). The drop down list needs to default to a blank option, as opposed to the first option of the drop down list. By having the filed pre-populated, users are likely to ignore changing the type, resulting in false information a

[2017-12-13 19:21] #1653 closed

[2017-12-14 19:36] #1630 closed

[2017-12-15 14:45] pandurx commented on #1554
Originally, this issue was to put the Wire message in the Notifications. This seems to be on production now. For Wire Images, please see #1640 for updates.

[2017-12-15 14:45] #1554 closed

[2017-12-18 13:37] Steph4104 commented on #650
@klecuyer is it still an issue?

[2017-12-18 13:43] klecuyer commented on #650
@Steph4104 no :)

[2017-12-18 13:51] #650 closed

[2017-12-18 15:22] pandurx commented on #1640
@LemieuxGen  @Steph4104
For single notifications, both the wire message and wire image will be displayed and linked to the wire post.

For the digest, the section will be displaying the wire message and the "image text" and both are linked to the wire post.

Both text will be provided by @LemieuxGen

[2017-12-18 17:40] KevinChagnon commented on #1644
@Troy-Lawson @LemieuxGen

[2017-12-20 19:55] KevinChagnon opened #1658 "Typos/language/URL problem in group invitation by email message"
There are errors in the body of the email:

![image](https://user-images.githubusercontent.com/23527358/34225738-7b45bcb4-e595-11e7-84d9-6c6d77c4fb20.png)

"accespt" should be changed to "accept"
"votre GCconnex compte" should be "votre compte GCconnex"
the should be no apostrophe (') in the " Comment joindre un group' " link

The URL for "Comment joindre un group" points to the English knowledgeb

[2017-12-20 19:57] LemieuxGen opened #1659 "Add new Freshdesk ticket type for Data requests"
Users will now be submitting request for stats and data through Freshdesk instead of by email. For this, we need to add a new ticket type to the Freshdesk "widget" code.
EN: Data Request
FR: Demande de données

[2017-12-20 19:58] LemieuxGen commented on #1659
@ethanWallace Is this something you would be able to do quickly enough? Let me know if you need more information.

CC: @KevinChagnon @klecuyer

[2017-12-21 14:40] joymosk opened #1661 "Name of group is missing on Newsfeed"
![joined a group](https://user-images.githubusercontent.com/24227707/34260164-ec48a5dc-e632-11e7-9a81-7c13a506a742.jpg)

[2017-12-21 15:39] Steph4104 opened #1662 "Reply to a wire post not sending notification"
When a user reply to a wire post, no notification is sending out.

On line 37 of mod/thewire_images/actions/thewire/add.php

You can see the page is forward. Because of this forward, the code who send the notification is never touch.
Also, I look into the language page and I can't find any text for reply on wire post.

[2017-12-21 17:11] nschonni opened #1663 "Digest email can contain deleted posts"
Since users sometimes post duplicates, if they delete one of them, the message is still added to the daily digest. EX:
![image](https://user-images.githubusercontent.com/1297909/34266643-f7f9de9a-e647-11e7-8a55-3632b543d220.png)
The two links are:
- https://gcconnex.gc.ca/discussion/view/33767679/enhacking-the-task-sequencefr?utm_source=notification_digest&utm_medium=email
- https://gcconnex.gc.ca

[2017-12-22 16:27] LemieuxGen commented on #1640
@pandurx @Steph4104  As discussed, here's the text for all options of the single and digest notifications when someone post a wire message (text only, image only, or image and text).

Single notification with text message only:
EN: USER posted a new Wire message: hyperlinked message here
FR : USER a affiché un nouveau message sur le Fil : hyperlinked message here
Single notification with image onl

[2018-01-05 19:59] #1659 closed

[2018-01-08 21:31] #1431 closed

[2018-01-09 17:08] klecuyer opened #1665 "Remove link to inbox from site message"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user logged into GCconnex, clicking the link that says 'You can view or reply to this by clicking on this link:' brings me back to my inbox. It's misleading and users don't see the reply button because it's out of format:
![image](https://user-images.githubusercontent.com/29754185/34733259-be67

[2018-01-09 17:09] klecuyer commented on #1665
Linked to https://github.com/Phanoix/gcconnex-help/issues/47

[2018-01-11 18:26] KevinChagnon commented on #1494
Found another JSON issue:

![json - group event added to pers calendar](https://user-images.githubusercontent.com/23527358/34840349-9e97144c-f6fc-11e7-8ac2-2fb85b0488b5.PNG)

https://gcconnex.gc.ca/event_calendar/display_users/34226204

You get there by creating an Event in a group, viewing the event and clicking on "In # calendars" on the right hand side;

![additional info](https://user-images.g

[2018-01-12 19:25] klecuyer opened #1667 "Typo/grammar: replace 'entitled' with 'titled'"
Linked to: https://github.com/Phanoix/gcconnex-help/issues/48
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
In English, a user receives a notification:  "FirstName.LastName posted a new event **entitled** XXXXXX"

## Details on issue or enhancement
The more widely-accepted term would be 'titled'. While entitled is still technically applicable,

[2018-01-12 20:30] klecuyer opened #1668 "Group Notifications for Blogs not sending"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
A few users have reported not receiving notifications for group content, **specifically blogs**.

## Details on issue or enhancement
Here's an example:
Username: Elaine.Devine
Link to her notifications (for admins): https://gcconnex.gc.ca/messages/notifications/Elaine.Devine#wb-sm
The group in quest

[2018-01-15 15:36] klecuyer commented on #1668
Another user reporting not receiving notifications for blogs specifically.

She's subcribed to the digest and only gets email notifications so I can't check her site notifications.

Username: Christine.Jean
Note: she is also subscribed to the same group mentioned above and not receiving notifications for blogs. Link to group: https://gcconnex.gc.ca/groups/profile/233846/%7B%22en%22:%22GC%20APM%20W

[2018-01-15 23:30] nschonni opened #1672 "Allow opting out of empty digest email"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

As a regular user, I do not want to receive the empty notification digest emails every day if my groups happen to be quiet.

## Details on issue or enhancement

I understand you're trying to get people to come back or search for new groups if they've haven't visited in awhile. The currently nightly

[2018-01-16 15:09] Steph4104 commented on #1536
We just need to desactivate and reactivate the plugin

[2018-01-16 20:31] LemieuxGen opened #1673 "Missing French text Communities Newsfeed tags"
As a French GCcollab user, I need to have the description text in French (instead of English) so that I can understand how the Communities tab is populated

The text is currently appearing in English on the French page.

Current English text: Showing content tagged with: (TAG), (TAG) and the "Audience tag" (community).

**New text to use:**
**EN:** This news feed shows content tagged with: (TAG),

[2018-01-16 21:10] KevinChagnon opened #1674 "Deactivated user - remove ability to Add colleague and Send Message"
As a Deactivated member, I need to have the Add Colleague and Send Message option disabled on my profile so that I do not receive any type of notification or be added as a colleague by other site members.

However some options are still available to site members such as adding as a colleague and sending a message; We mention to site members that they would no longer receive notifications when they

[2018-01-16 21:11] KevinChagnon commented on #1674
https://github.com/Phanoix/gcconnex-help/issues/50

[2018-01-17 14:19] klecuyer commented on #1674
Possibly linked to https://github.com/gctools-outilsgc/gcconnex/issues/1652

[2018-01-18 15:53] #1665 closed

[2018-01-18 16:31] sabrinatbs opened #1676 "Translation for the "Community and Tag Help/FAQ" GCconnex French page"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a French person, I need to have access to all the content of the "Community and Tag Help/FAQ" page in the official language of my choice so that I can have a better understanding of what communities and tags.

## Details on issue or enhancement
When navigating to the French version of the Communi

[2018-01-18 20:30] klecuyer commented on #1668
Group notification issue: let me know if you want a separate ticket.

Two users today have reported getting excessive duplicate notifications for bookmarks:
https://gcconnex.gc.ca/messages/notifications/Robert.Muma1 (8 notifications)
https://gcconnex.gc.ca/messages/notifications/Anja.Bilandzic (16 notifications)

It could be that the bookmark editor isn't checking the minor notification box. Also,

[2018-01-19 14:42] klecuyer opened #1678 "Bookmarks sending duplicate notifications (in excess, 15+)"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

Multiple users reporting getting excessive duplicate notifications for bookmarks:
https://gcconnex.gc.ca/messages/notifications/Robert.Muma1 (8 notifications)
https://gcconnex.gc.ca/messages/notifications/Anja.Bilandzic (16 notifications) **this user has also recieved 3 duplicate notifications for

[2018-01-19 14:48] klecuyer opened #1679 "Remove 'Make Translator' ability for admins"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

As an admin, I can easily accidentally click 'Make translator' when editing user settings. Can we remove this option if it does not serve a purpose?

## Details on issue or enhancement

![image](https://user-images.githubusercontent.com/29754185/35156135-de9a9170-fcfd-11e7-9578-43763f63df4b.png)

#

[2018-01-19 14:54] #1673 closed

[2018-01-19 16:43] LemieuxGen commented on #1303
@Phanoix Can you confirm if this fix will be live on GCconnex and GCcollab following this weekend's code push?

[2018-01-19 17:29] LemieuxGen opened #1680 "Missing button on Departmental News feed: Create a Wire post"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a regular user, I need to be able to create a new wire post message directly from the Wire widget of my departmental News feed page so that I don't need to change pages and waste valuable time.

## Details on issue or enhancement
Following the release of new departmental tab on the GCconnex News

[2018-01-19 17:34] LemieuxGen commented on #1680
@piet0024 as discussed, I created a ticket for adding the "Create a Wire Post" button on the departmental News feed, as mentioned by @ToferC on the Wire.
![create a wire post button dept news feed _wire message ca](https://user-images.githubusercontent.com/15378977/35163528-14c8d826-fd15-11e7-9e6c-d3cec344efb6.PNG)

[2018-01-19 18:38] piet0024 commented on #1680
I have added the button with PR #1677

[2018-01-19 18:38] #1680 closed

[2018-01-19 20:24] klecuyer commented on #1678
https://github.com/Phanoix/gcconnex-help/issues/51

[2018-01-22 18:50] ethanWallace commented on #1494
The JSON reappearing is from the new wire image plugin. Submitted a pull request(#1682) which should fix this issue.

[2018-01-22 18:54] klecuyer commented on #1644
@JOutram77 @LemieuxGen @CPoulin1 can we close this? It could have been discussed in an email but this ticket and the Freshdesk ticket are still open. Waiting on a decision and justification to share with the user.

[2018-01-22 19:24] JOutram77 commented on #1644
The Office of the Parliamentary Budget Officer has been added to the GCcollab registration. It is covered in the domain manager by *.gc.ca.

[2018-01-22 19:25] klecuyer commented on #1644
This one is for GCconnex. @JOutram77 sorry if tagging you was the wrong move, just looking for a response.

[2018-01-24 14:49] smellems commented on #610
Already fixed! Tested with @KevinChagnon

[2018-01-24 14:49] #610 closed

[2018-01-24 16:40] ethanWallace commented on #1494
Pull request containing the fix for latest version of this issue has been merged and pushed to production. Closing this issue again.

[2018-01-24 16:40] #1494 closed

[2018-01-24 16:56] klecuyer commented on #1494
When closed please also close: https://github.com/Phanoix/gcconnex-help/issues/53

[2018-01-24 16:56] smellems commented on #811
A fix was pulled for this.  Will update in related Issue #1103

[2018-01-24 16:56] #811 closed

[2018-01-24 16:56] Phanoix commented on #1303
Did a bit of testing, looks like the default for advanced member search is 30 and 9 for the simple search, if you change the results per page you can get the rest. I assume we want simple search to also default to 30?

[2018-01-24 17:03] klecuyer opened #1687 "Add mp3 and .mid file formats to GCconnex for Elgg migration"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Linked to https://github.com/Phanoix/gcconnex-help/issues/54

As part of Global Affairs Canada pilot to migrate our Elgg instance to GCconnex, we need to upload .mp3 **and** .MID files. Grateful if you could add this extension to your list of allowed files as soon as possible so that we can proceed

[2018-01-24 17:05] smellems commented on #1103
Changing the settings of the rename_friends plugin would fix this issue and probably others where using `my colleagues` does not make sense.

I suggest we change it to `colleagues` for plural instead of `my colleagues`. This will not change the `My Colleagues` in the user menu.  It will change the header in the colleagues' page to `User's colleagues` and the first tab to `Colleagues`.  This change

[2018-01-24 20:30] KevinChagnon opened #1689 "Remove ability to enter HTML in Wire post"
As a site admin (and regular user), I need the ability for users to enter HTML code in Wire posts removed / have HTML stripped from created content so that site members are not able to force pop-ups/redirects/post extra large images ect.

This is also an issue on GCcollab.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design val

[2018-01-24 20:34] KevinChagnon commented on #1689
@LemieuxGen @ToferC

@smellems did various tests today confirming that various things can be done using HTML in the wire such as those mentioned above.

[2018-01-24 22:24] ToferC commented on #1303
@phanoix - yes to increasing default search.

On Wed, Jan 24, 2018, 4:04 PM Ilia, <notifications@github.com> wrote:

[2018-01-24 22:25] ToferC commented on #1689
Thanks. Approved to strip html.

On Wed, Jan 24, 2018, 3:34 PM KevinChagnon, <notifications@github.com>
wrote:

[2018-01-25 13:34] pandurx commented on #1640
I think this is resolved, it should have been pushed Jan 20th

[2018-01-25 13:34] #1640 closed

[2018-01-25 13:36] pandurx commented on #1626
@klecuyer  is this still an issue?

[2018-01-25 13:39] klecuyer commented on #1626
@pandurx I haven't been able to recreate this issue myself. I just know it did happen. It looks like the user has deleted the notification since

[2018-01-25 16:45] LemieuxGen commented on #1536
@markwooff @Troy-Lawson This is compelted on GCconnex, but not on GCcollab. On GCcollab the opportunity type is still not mandatory and default option still shows Mentoring (should be blank).

[2018-01-25 17:06] klecuyer commented on #1687
@LemieuxGen this is requested by Georgina Collins. I remember she's met with Charles and we're supporting her in migrating Global Affairs Elgg instance to GCconnex. Is there any way we can add this filetype before February 1st? I think it's a simple add in the admin panel. @cdegrass @Phanoix @KevinChagnon

[2018-01-25 18:27] Steph4104 commented on #1536
@markwooff , you only need to desactivate and reactivate the plugin. This code is in the activate.php page, so it's only need to be reload.

[2018-01-25 18:48] LemieuxGen commented on #1536
I need a confirmation once the plugin is reactivate so I can advise the client this is completed. Thanks!

[2018-01-25 18:53] LemieuxGen commented on #1687
Yes, we should do what we can to support GAC's migration of Agora on GCconnex. If there are no issue on the technical side, we should look at adding the file type. Did they mention how they use mp3 on their site?  It would be useful to know. thanks.

[2018-01-26 16:15] #1658 closed

[2018-01-26 16:18] Steph4104 commented on #1652
Set opportunity platform notification to off when user have a suspend account

[2018-01-26 16:28] #1676 closed

[2018-01-26 16:31] LemieuxGen commented on #1303
The issue is not resolved, unfortunately. Even with the results count increased, the search results are not all showing up.
I asked Ryan to pull up the stats for the OP, and there's definitively an issue. the number of active  opportunities is 1456, but only 100 show up in the search results.
See attached file with export of the posted opportunities.
Can someone have a look at what's going on here

[2018-01-26 16:35] lucbelliveau commented on #1303
Was the max search results updated in the backend config?

Sent from my Samsung Galaxy smartphone.

[2018-01-26 17:18] bmrgould commented on #1689
Added strip tags for adding to the wire. Live on GCCollab. Merged on GCConnex github.

[2018-01-26 18:52] KevinChagnon commented on #1687
https://github.com/Phanoix/gcconnex-help/issues/54

[2018-01-26 19:19] LemieuxGen commented on #1303
@Troy-Lawson Can we add this back in this current sprint?

[2018-01-29 14:00] KevinChagnon commented on #1678
Stacey.ileleji posted a (one) Bookmark Friday Jan 26 which resulted in multiple posts. The 1st instance was around 12:22 pm, the last 12:36 pm.  A total of 7 notifications were sent and reported by user Val.loudfoot

As per user Stacey.ileleji she experience no system errors when creating her post.

![image](https://user-images.githubusercontent.com/23527358/35513950-ab4cbda2-04d2-11e8-9541-64a141

[2018-01-29 16:28] klecuyer commented on #1687
Added .mid files also, if possible. The group, Choir Without Borders, publishes lyrics and small original MP3s, like the attached, so that the members of the Global Affairs Choir can practice the songs for performances.  The director records the different voice tones and then people can download them for practice.

[2018-01-29 17:19] klecuyer opened #1696 "Closed Groupsstill visible to non-members should still be searchable"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user searching for groups, if a group is closed, but visible to non-members, it should appear in searches. Remove noindex tag from closed groups that are not 'invisible'.

Solution: remove following meta tag from group pages:
<meta name="robots" content="noindex, follow">

## Details on issue o

[2018-01-29 17:20] klecuyer commented on #1696
@pandurx

[2018-01-29 20:32] #1689 closed

[2018-01-31 13:20] LemieuxGen commented on #1687
@Troy-Lawson Can we look at adding these file types within this current sprint (if there are no technical issues in doing so)? This is in support of GAC migrating Agora to GCconnex. There official launch is tomorrow, Feb 1, 2018. Thanks!

[2018-01-31 14:25] klecuyer opened #1699 "500 Error when inviting to group, specific to Career Connexions"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
The Career Connexions profile (logged in as) clicking 'Invite users to the group' in the Career Connexions group brings a 500 error. This seems to be specific to this profile/group.

![image](https://user-images.githubusercontent.com/29754185/35628002-9a8e6578-0668-11e8-8f81-bde60d5b1a0e.png)

![ima

[2018-01-31 14:26] klecuyer commented on #1699
Linked to: https://github.com/Phanoix/gcconnex-help/issues/55

[2018-01-31 14:57] #1536 closed

[2018-01-31 17:05] gabrielcossette opened #1700 "Username with "@" causing issue (e.g. referencing)"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

I wanted to reference someone using "@..." in a reply

## Details on issue or enhancement

I tried to reference a GCconnex user using "@..." in a post reply. However, it didn't work because the username had an "@" in it. Here's an example: https://gcconnex.gc.ca/profile/greg.linton@ec.gc.ca

Trying

[2018-01-31 19:05] pandurx commented on #1696
see referenced pull request for more information

[2018-01-31 19:07] klecuyer opened #1702 "Filter by role in Opportunities Platform yields no results"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user in the Opportunities Platform, I can see results until I filter by role (seeking/offering). If I filter by role, I see no results.

Regardless of the role I choose, it yields no results.

![image](https://user-images.githubusercontent.com/29754185/35642037-e322ed6e-068f-11e8-9067-d599db729

[2018-01-31 19:53] klecuyer commented on #1702
Linked to https://github.com/Phanoix/gcconnex-help/issues/56

[2018-01-31 19:55] LemieuxGen commented on #1702
Approved. I also noticed this issue, this is high priority and should be included in the next sprint.

[2018-02-01 20:46] KevinChagnon opened #1704 "Vulnerability: A User can edit any Micromission in the platform"
As a user that posts in the Opportunities Platform, I need you to prevent user from being able to edit my post by modifying the URL.

By changing a typical micromission URL (example https://gcconnex.gc.ca/missions/view/34988852) from /view/... to /mission-edit/....

(ex. https://gcconnex.gc.ca/missions/mission-edit/34988852) any user can make changes to a micromission/job opportunity, even if they

[2018-02-01 20:46] KevinChagnon commented on #1704
https://github.com/Phanoix/gcconnex-help/issues/57

[2018-02-02 17:35] #1704 closed

[2018-02-02 20:39] LemieuxGen opened #1707 "Opportunities Platform search results are not showing all entries"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user looking for an opportunity, and as a business owner monitoring the OP, I need to be able to see all entries (still active opportunities) available when searching for opportunities, so that I can see all the opportunities available without being limited to only approx 100 results regardless

[2018-02-02 20:40] LemieuxGen commented on #1707
Please see Ryan Lacroix for more info, if needed. He did a lot of testing. Thanks!

[2018-02-02 20:40] LemieuxGen commented on #1707
@Eldoraaoun FYI

[2018-02-05 13:23] #1103 closed

[2018-02-05 13:42] klecuyer opened #1708 "Uploading zip or multiple files gives 500 error"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
When uploading zip or multiple files, the user reports getting a 500 error. The files are still uploaded but the 500 error occurs regardless.

## Details on issue or enhancement
Linked to https://github.com/Phanoix/gcconnex-help/issues/58

## For the development team
- [ ] Issue user story documente

[2018-02-05 13:48] klecuyer commented on #1642
Another user: https://gcconnex.gc.ca/profile/steven.dorey
Department: Canadian Nuclear Safety Commission

[2018-02-05 15:26] pandurx commented on #1708
This should have been resolved since the weekend push.

[2018-02-05 15:29] #1708 closed

[2018-02-05 15:45] KevinChagnon opened #1709 "Fix spelling of "english" in bilingual content toggle"
When selection (top of page) is French; The spelling of "english" in the bilingual content toggle for Pages is incorrect. it should be "**E**nglish" ;

![image](https://user-images.githubusercontent.com/23527358/35813447-9f33d8e0-0a61-11e8-9762-0785d33504c9.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by b

[2018-02-05 15:45] KevinChagnon commented on #1709
https://github.com/Phanoix/gcconnex-help/issues/59

[2018-02-05 16:05] #1687 closed

[2018-02-05 16:47] Phanoix opened #1711 "Docker, automation improvements"
More automated, simpler Docker, kubernetes experience.

[2018-02-05 17:24] sabrinatbs commented on #1652
![notification emails](https://user-images.githubusercontent.com/35535700/35818402-ddc7b9ec-0a97-11e8-95f4-8621c5935e11.PNG)

Testing this issue, I deactivated my account. Becky helped me by sending messages, adding me as a colleagues and adding me to a group. I received an email notification for all of these. I reactivated my account and none of my "Personal Notifications" are checked. This issue

[2018-02-05 18:22] Phanoix commented on #1707
Should be fixed now with some config changes on prod.

[2018-02-05 18:22] #1707 closed

[2018-02-05 19:10] Steph4104 commented on #1652
@sabrinatbs , this issue is related to notification from opportunity platform. I think, your issue is related to #1674

[2018-02-05 20:25] KevinChagnon commented on #637
Closing as per notes from Oct. 31st

Contacted client to inform issue will be considered for redesign.

[2018-02-05 20:25] #637 closed

[2018-02-05 21:53] ToferC commented on #1702
Adding context. It seems like the issue might be related to the first row in the Opportunity Type drop-down, which is blank by default. Filtering works as long as you select one of the (non-blank) options.

[2018-02-06 01:29] markwooff commented on #1702
That _blank_ auto-selected item seems to be the issue:

![image](https://user-images.githubusercontent.com/5591488/35837274-001517c2-0ab3-11e8-9a20-ef12c8d10cc4.png)

As a user, I'd expect the 1st dropdown to use an "all opportunity types" option as default. Maybe the blank option can be changed to "all"?

[2018-02-06 12:50] sabrinatbs commented on #1674
Testing this issue, I deactivated my account. Becky helped me by sending messages, adding me as a colleagues and adding me to a group. I received an email notification for all of these. I reactivated my account and none of my "Personal Notifications" are checked. This issue still seems to be occurring
![notification emails](https://user-images.githubusercontent.com/35535700/35860513-353d3112-0b3c-

[2018-02-06 16:56] LemieuxGen commented on #1702
@markwooff the reason the blank option was added because users were creating a new opportunity, they were often not taking the time to select the opportunity type, leaving the default option there as a type. This was causing issues as most opportunities were marked as being "mentoring" even if they weren't. OCHRO requested to have a blank option added so that users would have to choose an option,

[2018-02-06 17:11] markwooff commented on #1702
@LemieuxGen it makes 100% sense to have that on the "Create Opportunity" page. It just seems like it's being carried over to the filters though which is causing the issue.

If we remove the "blank" option on the filter, then everything works fine. This change has been made on GCcollab so you can test: https://gccollab.ca/missions/main

[2018-02-06 17:18] LemieuxGen commented on #1702
Thanks great @markwooff!
@ToferC @Troy-Lawson Would it be possible to have this pushed on GCconnex outside of the sprint? This issue is making it very difficult for users to find opportunities on the OP if they are using filters and don't know they need to go remove the selected blank option in the Opportunity type.

[2018-02-06 23:51] ToferC commented on #1702
+1

On Tue, Feb 6, 2018, 12:19 PM LemieuxGen, <notifications@zube.io> wrote:

[2018-02-07 18:09] KevinChagnon opened #1713 "Anchors not working when creating bilingual Pages"
As regular user, I need Anchors added to the source code of my Bilingual Pages to work as Anchors should so that I can avoid having to create 2 separate pages; one English and one French;

Anchors added in this bilingual page are not responsive: https://gcconnex.gc.ca/pages/view/34922266/entest-fnfrtest-ner#art4

However, anchors added in a Page using a single language do work:

https://gcconnex.g

[2018-02-07 18:09] LemieuxGen commented on #1702
@smellems I see you're assigned to this ticket. As per Mark's comments, the fix is up on collab and and the code can be carried over to GCconnex. We would like to push this as soon as possible, outside of the sprint. Can you confirm once is ready to be pushed? thanks!

[2018-02-07 18:09] KevinChagnon commented on #1713
https://github.com/Phanoix/gcconnex-help/issues/60

[2018-02-07 19:50] pandurx commented on #1652
@sabrinatbs  @Steph4104  is this issue still relevant to the main issue description?

[2018-02-07 19:53] pandurx commented on #1696
@klecuyer @4rsood  as discussed, we are looking into this issue. the robot meta tag for noindex has been removed, the gsa should be able to pick up the group profile page

[2018-02-07 19:56] klecuyer opened #1714 "User unable to unsubscribe to notifications for Opportunities"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need to be able to opt-in to Opportunities on the Opportunities Platform, but don't necessarily want to be notified for every Opportunity posted matching my settings.

I have to opt-in to see what's posted in the Opportunities Platform, but I can't unsubscribe myself from receiving the

[2018-02-07 20:06] klecuyer opened #1715 "Changes to Opportunities Platform Email Notification"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I get confused when **all** Opportunities are titled as a 'micromission' in the email notification I receive. The title doesn't make sense in French either: "New Opportunities Platform"

In the below example, this is an opportunity for an assignment/secondment. Regardless of the opportuni

[2018-02-07 20:07] klecuyer commented on #1696
@pandurx @4rsood thank you. Please keep me posted so I can inform the user.

[2018-02-07 20:26] klecuyer commented on #1714
https://support.gctools-outilsgc.ca/helpdesk/tickets/2074

[2018-02-07 20:29] bmrgould commented on #1679
I don't know if it has a purpose, but to get rid of it:

gccollab/mod/translation_editor/classes/ColdTrick/TranslationEditor/UserHoverMenu.php

On Line 24 add - `return $return; //remove this if you want Make/Remove Translator in hover menu`

That file adds the Translator option to the hover menu, so just return before it reaches the part where it adds it. Putting the fix here means it goes into t

[2018-02-08 12:27] Steph4104 commented on #1652
@pandurx , As I say in my previous comment, this issue is about notification from the oportunity platform, the one of @sabrinatbs is related to #1674

[2018-02-08 14:31] pandurx commented on #1652
okay, i will close this and work on issue #1674 instead

[2018-02-08 14:31] #1652 closed

[2018-02-08 14:59] pandurx commented on #1696
@klecuyer
@4rsood  has restarted the crawl for all the groups, with the new patch that was implemented on Monday. Confirmed that the group RCMP Policy Community now shows up in the results.

[2018-02-08 16:58] KevinChagnon commented on #1715
@LemieuxGen  I would go with "Notification d'une nouvelle opportunité"

Also, the text in the French portion of the notification says "_Username_ a ajouté un nouveau intitulé ..." followed by the title of the post.  It should read "_Username_ a affiché une nouvelle opportunité intitulé ..."

[2018-02-08 18:20] klecuyer commented on #1714
Update: this is not specific to Opportunities, but any group subscription.

I have unchecked these 4 boxes:
![image](https://user-images.githubusercontent.com/29754185/35990578-73c6cbcc-0cd2-11e8-8ad7-9340adfea783.png)

Click Save. Get a confirmation. And they aren't unsubscribed.
![image](https://user-images.githubusercontent.com/29754185/35990633-a5088860-0cd2-11e8-9965-dfe4af35374d.png)

Note:

[2018-02-09 14:57] markwooff commented on #1702
@Phanoix maybe changes can be pulled in over the weekend?

[2018-02-09 15:01] smellems commented on #1702
This is on Prod since yesterday.  Thanks @Phanoix !

[2018-02-09 15:01] #1702 closed

[2018-02-13 15:50] smellems commented on #1699
The `Careerconnexionscarriere` is a generic user account and has 5671 colleagues.  I was able to replicate the bug with all groups owned by that user account. The error on the server is `Out of memory`.

I suspect that it's caused by the high number of colleagues, since that's what's gets listed first when you go to `invite users to the group`.  Tested with a user that has 3000 colleagues and it w

[2018-02-13 20:11] LemieuxGen commented on #1715
The text is confusion. I don't think we need to say in the subject that this is a notification. To be consistent with the other notifications, the title should read:
EN: A new opportunity was posted on the Opportunities Platform
FR: Une nouvelle possibilité a été affichée sur la Plateforme de possibilités

French body text should be corrected to say:
USER a affiché une nouvelle possibilité intitul

[2018-02-14 14:33] #1696 closed

[2018-02-14 19:03] pandurx commented on #1674
this patch will be implemented to production this weekend.

[2018-02-14 19:03] #1674 closed

[2018-02-15 14:47] Phanoix commented on #1303
Haven't heard any issues with this since the config change, closing the issue.

[2018-02-15 14:47] #1303 closed

[2018-02-16 17:16] gpatrick2 opened #1723 "Issue with permissions?"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a developer, I need to access a list of all blogs which are part of certain groups, so that I can query each blog and check if they mention topics I'm interested in monitoring.

## Details on issue or enhancement

- I'm doing a request to the get.groupblogs API and I noticed that for at least one

[2018-02-19 15:10] #1711 closed

[2018-02-19 16:05] LemieuxGen commented on #1700
@KevinChagnon Can you reach the user (Greg Linton) to change his username?

[2018-02-19 16:07] KevinChagnon commented on #1700
Will do today

[2018-02-19 17:26] KevinChagnon commented on #1700
Contacted user to propose change of username

[2018-02-19 18:38] KevinChagnon opened #1726 "Personalized message not being added to group invitation"
As a group owner, I need my personalized message to be included in my group invitation (by email) so that I can deliver a specific message to potential group members.

Currently, the personalized message is not included in my invitation email.

![image](https://user-images.githubusercontent.com/23527358/36392565-de0e1062-1579-11e8-8a2c-96c214b2eb7f.png)

Included message was "JOIN JOIN JOIN"

NOTE

[2018-02-19 18:38] KevinChagnon commented on #1726
https://github.com/Phanoix/gcconnex-help/issues/61

[2018-02-19 19:16] KevinChagnon commented on #1700
User agreed to change username.
Request submitted to @pandurx to modify username

[2018-02-19 19:26] KevinChagnon commented on #1700
Username has been updated to **greg.linton**
https://gcconnex.gc.ca/profile/greg.linton

[2018-02-19 19:26] #1700 closed

[2018-02-20 14:12] Troy-Lawson commented on #1715
I created a pull request with the subject line change, but changing the body is another matter as that follows a template for all notifications not specific emails for each type of notification

[2018-02-20 14:24] #1349 closed

[2018-02-20 14:24] #1350 closed

[2018-02-20 14:25] #1626 closed

[2018-02-20 14:26] Troy-Lawson commented on #1168
@pandurx @cdegrass is this finished or still ongoing?

[2018-02-20 14:27] Troy-Lawson commented on #921
@piet0024 @ethanWallace Is still incomplete #issuecleanup

[2018-02-20 14:27] Troy-Lawson commented on #915
@piet0024 @ethanWallace still need this issue?

[2018-02-20 14:29] Troy-Lawson commented on #902
closing forissue clean up. an increase in storage will lead to an increase in allowed file size

[2018-02-20 14:29] #902 closed

[2018-02-20 15:07] gabrielcossette commented on #514
This bug is still present. Also I just tested again and it seems the **Default folder sorting options** doesn't work for files either now.

You can look at this test group where I selected the **Title** sorting option: https://gcconnex.gc.ca/file/group/15779765/all#

[2018-02-20 15:49] LemieuxGen commented on #1305
@Phanoix Communicated with OCHRO to confirm scope. We will go forward with adding the option in the advanced search, to find opportunities based on group and levels. This would allow people looking for opportunities to find some at their level, and would allow hiring managers to find people who posted opportunities as “seeking opportunities” to find people at a specific classification and level.

[2018-02-20 18:04] LemieuxGen commented on #1715
@Troy-Lawson The body text in French doesn't make any sense as is. How can we get it modified?

[2018-02-20 18:05] LemieuxGen commented on #1306
@Phanoix Please disregard this request for the time being. This will become a requirement for the GCprofiles going forward. No changes to be made on the Opportunities Platform for now. thanks.

[2018-02-20 18:05] #1306 closed

[2018-02-20 20:15] klecuyer commented on #1726
This is specific to inviting through a group. In GCcollab, if you invite using the egneric Invite button in the header, the personalized message is included. In group invitations on both collab and connex, personalized messages are not included.

[2018-02-21 15:26] gpatrick2 commented on #1723
I've done a little bit more testing with the the APIs for groups, and found that the same issue happens when requesting any information about events, files, discussions or other items that belong to groups and not blogs only.

Some groups I'm allowed to receive the information for these items some I am not. All groups I've tested these APIs on are groups which are open, I've found a case where I a

[2018-02-21 17:48] LemieuxGen commented on #1715
@Troy-Lawson I see this is closed now. Were you able to make any changes to the body text?

[2018-02-21 19:12] Steph4104 commented on #1649
@KevinChagnon  The default folder sorting option is for file, not folder. Do we want keep it that way and change the language?

[2018-02-22 15:21] pandurx commented on #1168
@Troy-Lawson  I don't know if there is still a need for this, never got the metadata from IM group. I also don't know who I need to follow up / contact for metadata.

[2018-02-22 20:53] klecuyer opened #1731 "Landing on user's profile gives Geocode error"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Landing on this user's profile (for her as a logged in user or me as an admin) gives the following error message: Geocode was not successful for the following reason: ZERO_RESULTS

![image](https://user-images.githubusercontent.com/29754185/36563540-6da4de84-17e8-11e8-8d92-7b4a75f2a64e.png)

## Deta

[2018-02-23 14:00] KevinChagnon commented on #1649
As the function is made to sort files and not folders, we will change the language to match the function.

The text should be changed to:

"Default **file** sorting options" for English

"Option de tri de **fichiers** par défaut" for French

Both for the header and title of drop down.

[2018-02-23 14:45] klecuyer commented on #1731
@smellems just looking at this, do you have any idea what this Geocode error is?

[2018-02-23 14:58] klecuyer commented on #1731
This was due to her account being synced with GCdirectory and it not pulling up her correct location on a map. I did a quick fix by unsyncing her account, but the map feature/sync doesn't seem to work.

[2018-02-23 15:15] klecuyer commented on #1668
Main ticket: https://github.com/gctools-outilsgc/gcconnex/issues/1227

[2018-02-23 18:00] KevinChagnon commented on #1678
This is also happening for events at times.  Can Events also be added to subtype to db duplicate checking ?

Mon 2018-02-12 10:05 AM - "(User) Theriaultc posted a new event entitled Equipping Managers for a Culture of Change"

This was sent out a few time and received by Eric.fleck

[2018-02-23 18:36] KevinChagnon commented on #1227
Julie.legault1 reporting this is still an issue with Pages. @Steph4104 also working on notifications and I assisted in testing. Issue cannot always be replicated

[2018-02-26 14:34] #1650 closed

[2018-02-26 14:41] hslaird opened #1735 "Badge for Policy Community"
## Need a badge for policy community's collab challenge so they can drive traffic from their government-wide innovation conference to the Tools, and host the challenge on the Tools.
Ideally on Collab. IF not, on Connex. or both, but Collab more important if possible.

working on getting all the info from the user Janice. Can we get badge creation in the next sprint?

## Details on issue or enhance

[2018-02-26 14:42] hslaird commented on #1735
@LemieuxGen tagged! thanks for info about how this is done!

[2018-02-26 19:47] KevinChagnon commented on #1643
+1
Confirming this is still an issue, but after many attempts still cannot not land a desirable page like Krista's second example. I always get the 500 error when trying to access a closed group page when not logged in both in Chrome and IE;
![image](https://user-images.githubusercontent.com/23527358/36691613-d640e74e-1b03-11e8-851f-5a69c903eb96.png)
![image](https://user-images.githubusercontent.

[2018-02-27 15:22] smellems commented on #1699
If a user has more that 1000 colleagues, we will display a warning message saying we can't display their colleagues.

@LemieuxGen @KevinChagnon what should the text say?

en: You have too many colleagues to display here!
fr: Vous avez trop de collègues pour les afficher ici!

[2018-02-27 16:36] LemieuxGen commented on #1699
@smellems, what about this?

EN: Looks like you're too popular! Your colleagues list can't be loaded because you have over 1,000 colleagues.
FR: Il semble que vous êtes trop populaire! Votre liste de collègues ne peut pas être chargée car vous avez plus de 1 000 collègues.

[2018-02-27 16:54] LemieuxGen commented on #1587
Duplicate issue. Adding a link to this ticket in main issue ([1668](https://github.com/gctools-outilsgc/gcconnex/issues/1668))

[2018-02-27 16:54] #1587 closed

[2018-02-27 16:58] LemieuxGen commented on #1668
Reopening this issue. Notifications are not being sent out for blog post. Blogs are used by executives of various levels (including ADM, DMs) to share information and updates to their employees. Many users have raised the issue that they are not receiving notifications when a new blog is posted, which is a big concern. Executives will stop using GCconnex as a means of communication if their employ

[2018-02-27 17:14] klecuyer commented on #1668
A list of GCconnex groups reporting this issue specific to blogs. This issue is on GCcollab and GCconnex @JOutram77 @LemieuxGen @Steph4104 @pandurx :
GC APM Working Group: https://gcconnex.gc.ca/groups/profile/233846/gc-apm-working-group
Engaging Indigenous Peoples https://gcconnex.gc.ca/groups/profile/16100881/enengaging-indigenous-peoples-mobilisation-des-peuples-autochtonesfr
SSC Recruitment: h

[2018-02-28 19:17] klecuyer commented on #1726
This is also specific to inviting a user by email. If I invite a user using Find User it includes the personal message

[2018-03-01 21:05] nschonni opened #1744 "[Feature] More human context details for Opportunities Platform emails"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a regular user, I would like more context information in the Opportunities notification digest so I have a better understanding of what I want to look at.

## Details on issue or enhancement
Current digest email returns
[code]

Alternate, with emphasis on the department and possition
[code]
This

[2018-03-02 15:32] #1649 closed

[2018-03-02 16:41] Phanoix commented on #1305
Looked into this, should be quite doable next sprint in a few days. Shouldn't have a negative impact on overall mission search performance.

[2018-03-02 19:10] LemieuxGen commented on #1629
@ethanWallace Is this on preprod for testing?
@KevinChagnon can you test again now that we have the new fixes?

[2018-03-02 19:11] ethanWallace commented on #1629
@LemieuxGen Yes it is up on preprod right now.

[2018-03-02 20:03] #1629 closed

[2018-03-02 20:47] LemieuxGen commented on #1735
@hslaird Do you have the information from the Policy Community for the badge?
Here's the help article we're finalizing that includes the details of what is required in order to create the avatar badge: https://support.gctools-outilsgc.ca/en/support/solutions/articles/2100032715-how-can-i-request-a-new-avatar-badge-for-my-initiative-

[2018-03-02 21:42] rleir opened #1745 "Fatal error in exception handler"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Sorry, I broke something again.
"Fatal error in exception handler. Check log for Exception at time 1520015630"

![image](https://user-images.githubusercontent.com/2079763/36923064-1276283c-1e38-11e8-9743-66cb6416986f.png)

## Details on issue or enhancement
I was on my profile page, then left it ope

[2018-03-05 03:00] markwooff commented on #1679
@klecuyer looks like Brandon found a quick fix for this 👍 are there any use cases for this menu item? Just wondering if we can go ahead and remove it without breaking something else.

[2018-03-05 14:22] klecuyer commented on #1714
This is also present on GCcollab. Tested on this profile: https://gccollab.ca/settings/notifications/Jean.Murray

[2018-03-05 14:25] KevinChagnon commented on #1715
I can see from a notification received today that the body has not yet been modified;
![image](https://user-images.githubusercontent.com/23527358/36979992-19afe70c-2057-11e8-9bd0-3621d4b8135d.png)

[2018-03-05 14:34] klecuyer commented on #1699
@smellems unfortunately it still gives a 500 error
![image](https://user-images.githubusercontent.com/29754185/36980478-634115c0-2058-11e8-9a6c-3a8200d5e5e4.png)

[2018-03-05 14:56] klecuyer opened #1746 "Changes to GCconnex Registration Page"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need to know the best way to get user help. Currently we're directing them to the GCconnex email inbox, then about a day later myself or Kevin creates a ticket in Freshdesk for this, creating a lot of redundancy and longer wait for the user.

We'll need to update these with simple instr

[2018-03-05 15:00] klecuyer commented on #1746
Also, as soon as the user emails this inbox, they get an auto-reply that this email inbox is no longer in service and asks them to submit a ticket. Generally confusing for the user and a lot of redirects.

My suggestion is a quick explanation that GCconnex accounts must be registered to a GoC email address, a link to the forgot password page, and a link to where they can submit a ticket.

@Lemieux

[2018-03-05 16:07] LemieuxGen commented on #1305
@Phanoix As discussed, I'm reopening this issue to action this within this sprint.

[2018-03-05 18:48] Steph4104 commented on #1668
@klecuyer , @LemieuxGen  Can one of you verify with the creator of the blog, if he/she create a draft before and publish the draft after? Because this is how a user can publish without sending notification.

[2018-03-06 16:06] Steph4104 commented on #1668
I also notice, after 1min of none activity, the blog generate an auto-save. This create a draft and, as I say before, notification are not send if a draft is create.

[2018-03-06 16:25] Steph4104 commented on #1714
For Gemma.Mattioli, I uncheck the notify me when a new oppotunity... and after I save, it was still uncheck.

For Jean.Philippe.Bouchard1, when I look at his notification setting, everything was uncheck.

@klecuyer can you double check with the user if it still an issue?
I try to replicate the issue on my local, preprod and prod, and I was not able.

[2018-03-06 16:52] klecuyer commented on #1668
@Steph4104 that's good to know. I never thought about the auto-save and that's likely the case whenever this happens, or at least one of them.

Is it possible (or reasonably doable) to make it so when you Publish from a Draft it sends a notification? Or if it saves as a Draft then that turns off notifications for that post for good.

[2018-03-06 16:58] Steph4104 commented on #1668
@klecuyer I can easily extend to 12h before execute the auto-save.

And, I can also take a look at send a notification when a draft is publish, but I'm not sure if user use this way to publish without sending notification.

[2018-03-06 17:01] klecuyer commented on #1668
@Steph4104 I don't think we want to send a notification when it's saved as a Draft. Only if it's first saved as a Draft (or auto-saved) then Published afterwards. Only sending the notification when the Draft gets Published. Is that possible?
@LemieuxGen

[2018-03-06 17:15] klecuyer commented on #1714
@Steph4104 I was able to opt-in Gemma to the Opportunities Platform but keep her unsubscribed from the emails.
If I try to test this on my own profile, I still have the same error: https://gcconnex.gc.ca/settings/notifications/Krista.Lecuyer

Start:
![image](https://user-images.githubusercontent.com/29754185/37047022-d282e820-2137-11e8-92db-969029da882c.png)
Change:
![image](https://user-images.gi

[2018-03-06 19:53] Troy-Lawson commented on #1746
@klecuyer @LemieuxGen let me know as soon as the language is decided upon and i will implement
Thanks!

[2018-03-06 23:00] rleir commented on #904
Hi Chris and Kevin, This should have jumped out at me: the exception number is just a timestamp, to help with looking in the logs. cheers -- Rick

[2018-03-06 23:03] rleir commented on #1745
Related to #904
Would someone be so kind to look in the logs please and tell me the messages? Then I can look into my gcconnex home installation and maybe suss this out.
thanks
Rick

[2018-03-07 12:41] Steph4104 commented on #1668
@klecuyer ,Do we want the draft function? Cause if the user create a draft, and publish after, I can make it send a notification but if the user put it back as draft and publish again, it will send an other notification.

Or, I can remove the draft function.

[2018-03-07 13:24] LemieuxGen commented on #1746
@Troy-Lawson  - @klecuyer has the text ready in English and will share it with you as soon as we have it back from translation. thanks!

[2018-03-07 14:56] klecuyer commented on #1731
Same error: https://gcconnex.gc.ca/profile/Michel.charron?language=en

Unsyncing from GCdirectory resolves this issue

[2018-03-07 15:28] pandurx commented on #1678
@Phanoix
i may be wrong, but didn't you already added bookmarks and events to the database?

[2018-03-07 15:43] #1726 closed

[2018-03-08 15:17] Steph4104 commented on #1714
@klecuyer , I just log in as you on GCconnex, and I unchecked some checkbox and it save without problem. So I'm not sure if it's about a server problem and it's happening some time or not.

Can you test this again with your account?

[2018-03-08 15:34] klecuyer commented on #1714
@Steph4104 still the same as the screenshots above. Let me know if you need me to test something else

[2018-03-08 15:47] Steph4104 commented on #1714
@klecuyer , hum... can you try to log as me (stephanie.lefebvre) and see if you can change my access?

Cause, I have no problem to change your access or mine.

[2018-03-08 15:52] #1643 closed

[2018-03-08 17:39] klecuyer commented on #1714
@Steph4104 it worked for me logged in as you, but not as an admin trying to make the changes

[2018-03-08 17:41] klecuyer commented on #1714
@Steph4104 also works for me on my own profile logged in as me, just not if I'm an admin trying to save changes

[2018-03-08 19:15] Steph4104 commented on #1227
@KevinChagnon , for julie.legault1, is it possible she published (with the generic account) a first version as only me (type of draft) before let it show to everyone?

[2018-03-09 01:42] rleir commented on #1709
Hi Kevin, Gen,
Just a guess, but I bet you dollars-to-donuts that this is the culprit. PR soon.
cheers -- Rick
./mod/wet4/languages/en.php:'box:indicator:en' => 'This content is also available in ',
./mod/wet4/languages/fr.php:    'box:indicator:en' => 'This content is also available in ',

./mod/wet4/languages/en.php:'indicator:click:en' => 'english.',
./mod/wet4/languages/fr.php:    'indicator:c

[2018-03-09 02:31] LemieuxGen commented on #1715
@Troy-Lawson We still need to fix the French body text. As per above comment, the French body text should be corrected to say:
USER a affiché une nouvelle possibilité intitulée LINK TO OPPORTUNITY

[2018-03-09 02:35] LemieuxGen commented on #1668
@Steph4104 @klecuyer We should keep the draft function, but a notification should be sent when the blog is published (going from draft to publish should send a notification).

[2018-03-09 02:58] markwooff commented on #1709
Fixed with https://github.com/gctools-outilsgc/gcconnex/pull/1753. Thanks @rleir

[2018-03-09 02:58] #1709 closed

[2018-03-09 13:06] klecuyer commented on #1644
@LemieuxGen this is our only pending registration for GCconnex. It's from 4 months ago. Who would be the best person to make this call for GCconnex specifically so I can give the user a definitive answer?

[2018-03-09 13:35] klecuyer commented on #1746
@Troy-Lawson just emailed you the text. Thanks!

[2018-03-09 14:45] Troy-Lawson commented on #1746
Thank you @klecuyer!

[2018-03-09 16:02] JOutram77 opened #1755 "Disable related videos in embedded youtube video player"
Suggest disabling related videos in embedded Youtube video player.

It's currently suggesting videos that are not topical or appropriate, meaning there's a risk it could suggest some highly inappropriate content.

[2018-03-12 15:45] pandurx commented on #1227
@Steph4104 @KevinChagnon @klecuyer
Pull Request #1758 should fix the page update notifications

Are notifications for new contents still an issue?

[2018-03-12 15:56] klecuyer commented on #1227
@pandurx I cannot seem to replicate this issue currently.

[2018-03-12 17:47] pandurx commented on #1678
Related to Issue #1414

[2018-03-12 18:23] pandurx commented on #1333
@joymosk Just did a quick test on my local for notifications...
1. Questions does indicate whether it was created in a group or site-wide [via colleague notification]
2. The questions listed will contain the group link [if applicable]
3. The question title seems to be parsed correctly and notification does include the group [if applicable]

If issue still persist, you can re-open this issue ticket

[2018-03-12 18:23] #1333 closed

[2018-03-12 18:27] #1105 closed

[2018-03-12 18:37] pandurx commented on #1662
@Steph4104 @LemieuxGen  Is this still an issue?

[2018-03-12 19:52] #1678 closed

[2018-03-13 13:30] #1227 closed

[2018-03-13 17:08] Eldoraaoun opened #1763 "GCconnex and GCcollab Language File Change – “Jobs Marketplace” or “Opportunities Platform” to “Career Marketplace”"
### We are changing the name of the **Jobs Marketplace/Opportunities Platform** to **Career Marketplace**.

**Deadline - April 9th, 2018**

_Request:_ Change language file **Jobs Marketplace** (FRA: Carrefour d'emploi) and **Opportunities Platform** (FRA: Platforme de possibilité) to **Career Marketplace** (FRA: Carrefour de carrière) on GCconnex and GCcollab, for the following pages:

### GCconne

[2018-03-13 19:20] klecuyer opened #1765 "Folder access defaults to 'all public servants' when saved to 'Only Me'"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
*This was originally flagged in GCcollab but has been tested and present in both GCcollab and GCconnex

As a user, I need to set access to my folder to 'Only Me'.

## Details on issue or enhancement

For example: https://gccollab.ca/file/group/241521/all#363833

As a user, I want to set the folder t

[2018-03-13 19:21] klecuyer commented on #1765
https://support.gctools-outilsgc.ca/helpdesk/tickets/2536

[2018-03-14 14:23] #1714 closed

[2018-03-14 17:15] klecuyer commented on #1699
@smellems are we waiting on something for this to be closed?

[2018-03-14 17:27] smellems commented on #1699
Waiting for test environment with a user with more than 1000 colleagues.  Should be able to test tomorrow

[2018-03-19 13:11] #1699 closed

[2018-03-22 14:41] #1765 closed

[2018-03-22 18:25] Troy-Lawson commented on #1763
@klecuyer @LemieuxGen in the main site navigation under the career drop down we have both jobs marketplace and opportunities platform listed. Wont it be even more confusing than it already is if they both say Career Marketplace?

[2018-03-23 13:51] Eldoraaoun commented on #1763
@Troy-Lawson In the Career drop down menu, where it currently reads Jobs Marketplace, change to "Career Marketplace **Group**" (in FRA: Carrefour de carrière group) _Note that links stays the same._ This link will drive users to our GCconnex and Gccollab group for the Career Marketplace, where they can find more information and guidance material. It will function as an information resource. The bu

[2018-03-23 14:34] LemieuxGen commented on #1763
@Eldoraaoun thanks for clarifying the links for the menu.
Also, the launch date is April 3rd, correct?

[2018-03-23 15:46] Troy-Lawson commented on #1642
here is what i believe to be the error log error: PHP Fatal error:  Call to a member function canEdit() on a non-object in /sites/gcconnex/htdocs/elgg/engine/lib/navigation.php on line 481

[2018-03-23 18:20] Eldoraaoun commented on #1763
@LemieuxGen Yes, April 3rd!

[2018-03-24 14:46] sabrinatbs opened #1785 "WIKI: Password reset done by admin breaks account service"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As an admin I should be able to change a users password without breaking the account.

## Details on issue or enhancement
When an admin tries to resets password for a user it does not retain the password, breaks the account service and the user is no longer able to log back in.

## For the developme

[2018-03-24 15:06] sabrinatbs opened #1786 "WIKI: Case sensitive email allows users to create multiple accounts"
## Details on issue or enhancement
When registering onto the wiki, the email section is case sensitive. It allows you to register multiple times using the same email but changing letters (Uppercase or lowercase). It creates a new account in the account services but just updates the users information on collab. Uses same username.

Example: If you registers using this email: testing@gmail.com with

[2018-03-24 15:20] sabrinatbs opened #1787 "WIKI: Page not found after clicking chosen language on GCCollabs initial pannel"
## Details on issue or enhancement
After registering the website leads you to GCCollab's lanugage pannel, after clicking chosen language, it leads you to a page not found

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references

[2018-03-24 15:28] sabrinatbs opened #1788 "WIKI: New account services does not create usernames following the standard"
## Details on issue or enhancement
The old standard format for usernames is Firstname.Lastname, now the usernames are listed as FirstnameLastname without the period. (Shown at the end of the link)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue

[2018-03-24 15:41] sabrinatbs opened #1789 "WIKI: New emails received after trying to reset password after account services breaking it"
## Details on issue or enhancement
Issue following issue #1785 .  After the admin broke the account while trying to reset password, user tries to reset password but never receives email for password reset.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [

[2018-03-24 15:46] sabrinatbs opened #1790 "WIKI: Account breaks but allows you to log on using same email but with different characters"
## Details on issue or enhancement
After conducting a few tests the account finally breaks, it will not allow you to log back in using that exact email but it will allow you to log back in using that same email but using different characters (uppercase and lowercase)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated

[2018-03-24 18:54] sabrinatbs opened #1791 "WIKI: Remove all other languages except English and French and making language notification "dismiss-able""
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user I only want English and French to be the language options. Also, when I have chosen my language I wish the notification would be "dismiss-able" or disappear when clicking elsewhere on the screen.

## Details on issue or enhancement
Make English and French the only language choices, remove

[2018-03-24 22:08] sabrinatbs opened #1792 "WIKI: Formatting issue with images on the main page of the wiki"
## Details on issue or enhancement
The images on the main page of the Wiki under the "Featured Communities" header are pushed outside of the container

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or co

[2018-03-24 22:11] sabrinatbs opened #1793 "WIKI: "Statistics" on the sidebar does not lead users to another page"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need to be led to statistics when clicking Statistics

## Details on issue or enhancement
When you click "Statistics" in the sidebar the page simply refreshes but does not bring you to another page.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
-

[2018-03-24 22:14] sabrinatbs opened #1794 "WIKI: French: Content outside of it's box on the Aide page, causing scrolling"
## Details on issue or enhancement
On the French help/aide page there is content outside of it's box, it is also causing scrolling.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or p

[2018-03-24 22:16] sabrinatbs commented on #1791
![image](https://user-images.githubusercontent.com/35535700/37869540-6eca424a-2f8f-11e8-812d-03a4fd86a9b6.png)

[2018-03-24 22:17] sabrinatbs commented on #1791
![image](https://user-images.githubusercontent.com/35535700/37869543-841327fc-2f8f-11e8-8d1c-101fdb3ba91d.png)

[2018-03-24 22:17] sabrinatbs commented on #1792
![image](https://user-images.githubusercontent.com/35535700/37869554-a49ddd1e-2f8f-11e8-9ea9-4cdf15e341f5.png)

[2018-03-24 22:18] sabrinatbs commented on #1794
![image](https://user-images.githubusercontent.com/35535700/37869557-b98e5a28-2f8f-11e8-88ac-eb1d9a6ccf0d.png)

[2018-03-26 13:25] markwooff commented on #1786
This issue has also been fixed and is live on production. Thanks!

[2018-03-26 13:27] markwooff commented on #1788
Usernames are no longer used in the Account service as a user's email address will be their unique identifier. The standard username formatting will still be applied on GCcollab however.

[2018-03-26 13:27] markwooff commented on #1790
This has now been fixed and is live on production. Thanks!

[2018-03-26 13:28] markwooff commented on #1793
@Phanoix can confirm, but I believe we were going to remove this link from the sidebar for now.

[2018-03-26 13:31] Troy-Lawson commented on #1763
@Eldoraaoun @LemieuxGen I understand that there is a lot of user confusion about the career drop down. Users aren't sure if they should be using the jobs marketplace or opportunity platform links in the drop down menu and what each one if for. I worry that if we name one career marketplace, and the other career marketplace group its only going to increase confusion around our users. We are trying

[2018-03-26 13:38] ethanWallace commented on #1794
Has been addressed in pull request #1773 Just waiting for changes to go live.

[2018-03-27 11:58] #1786 closed

[2018-03-27 12:00] #1790 closed

[2018-03-27 12:14] markwooff commented on #1792
I've gone ahead and fixed this, added some CSS to keep the images within the bounds of the page.

[2018-03-27 12:15] markwooff commented on #1789
Shouldn't be an issue anymore now that admins can change a user's password. Thanks

[2018-03-27 12:39] markwooff commented on #1787
This issue should now be fixed and is live on production. Thanks @sabrinatbs

[2018-03-27 13:22] sabrinatbs opened #1796 "WIKI: Create splash page for GCCollab Wiki"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need a splash page when I get onto the Wiki

## Details on issue or enhancement
A splash page needs to be created for the Wiki, it can be the same one as the GCCollab, where you get the chance to choose English or French

## For the development team
- [ ] Issue user story documented
- [

[2018-03-27 13:58] Eldoraaoun commented on #1763
@Troy-Lawson @LemieuxGen Totally agree with where you're coming from. However, the Career Marketplace is a completely separate tool from GCjobs, so having the GCJobs link within the Career Marketplace front page would be odd. With that being said, perhaps we can keep the Career drop down menu with only the GCJobs and Career Marketplace links, and remove the group. Instead, we can have just the gro

[2018-03-27 14:15] LemieuxGen commented on #1763
Thanks @Troy-Lawson for the comment - you're right that the group link should not be in the drop down.
@Eldoraaoun yes! I agree. I was going to suggest the same thing. So the menu would include only jobs.gc.ca and Career Marketplace.
Can you confirm the text you want to use on the Career Marketplace main page (https://gcconnex.gc.ca/missions/main) in both languages? I assume you'll be include that

[2018-03-27 17:12] Eldoraaoun commented on #1763
@LemieuxGen @Troy-Lawson

Additional text to Career Marketplace main page:
**Join our group**
Join the [Career Marketplace group](https://gcconnex.gc.ca/groups/profile/7617072) for guidelines, definitions, tutorials and updates!

**Joignez-vous au groupe**
Joignez le groupe du [Carrefour de carrière](https://gcconnex.gc.ca/groups/profile/7617072) pour avoir accès aux lignes directrices, définition

[2018-03-27 18:02] pandurx opened #1797 "Colleagues who are not fully connected"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

## Details on issue or enhancement
1. Go to Annette Taylor's profile
2. View Colleague List
3. Select Glenda Galarza's Profile
4. Glenda does not have Annette Taylor's as their colleague

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
-

[2018-03-28 12:08] LemieuxGen commented on #1305
@Phanoix Thanks for working on this. I have a few required changes:
- When searching by classification, it makes sense for users to search by classification only, but not to search by level only. We should have a field for "Classification". Once the user selected that, they are shown value fields: 1) Group; 2) All levels, =, >=, <=; and 3) Level. This can be similar to how the "duration" field wor

[2018-03-28 12:12] LemieuxGen commented on #1305
@Phanoix I also added these comments in the pull request.
Thanks for working on this. I have a few required changes:
- When searching by classification, it makes sense for users to search by classification only, but not to search by level only. We should have a field for "Classification". Once the user selected that, they are shown value fields: 1) Group; 2) All levels, =, >=, <=; and 3) Level. Th

[2018-03-28 12:30] LemieuxGen commented on #1763
@Troy-Lawson Can you let me know once this is on preprod and ready to review? and please let me know if you need any other info to finalize this. thanks!

[2018-03-28 14:30] LemieuxGen commented on #1662
@sabrinatbs Can you check this issue with @Steph4104 and do some testing to see if this is still an issue?

[2018-03-28 15:57] sabrinatbs commented on #1662
This is still an issue @LemieuxGen , I tested it with a reply on Sierra's wire post and she did not receive a notification

[2018-03-28 16:03] LemieuxGen commented on #1662
Thanks @sabrinatbs! @pandurx this is still an issue. thanks!

[2018-03-28 16:23] #1642 closed

[2018-03-29 11:35] #1785 closed

[2018-03-29 11:36] #1787 closed

[2018-03-29 11:39] LemieuxGen commented on #1788
@marianneaubrey15 for reference when updating the "[How to create an account?](https://support.gctools-outilsgc.ca/solution/articles/2100028324-how-do-i-create-an-account-)" help article.

[2018-03-29 11:39] #1788 closed

[2018-03-29 11:44] LemieuxGen commented on #1789
@KevinChagnon can you confirm if this is still an issue?

[2018-03-29 11:47] LemieuxGen commented on #1791
Closing this issue and transferring in the GCpedia repo, tagging it with GCwiki.
https://github.com/gctools-outilsgc/gcpedia/issues/89

[2018-03-29 11:47] #1791 closed

[2018-03-29 11:49] LemieuxGen commented on #1793
Closing and transferring to the GCpedia repo, tagging it with GCwiki.
https://github.com/gctools-outilsgc/gcpedia/issues/90

[2018-03-29 11:49] #1793 closed

[2018-03-29 11:51] LemieuxGen commented on #1794
Thanks @ethanWallace! Will this issue be closed once it's live, or should I close it now?

[2018-03-29 11:54] ethanWallace commented on #1794
I was going to close it when the code changes go live.

[2018-03-29 11:55] LemieuxGen commented on #1794
great, thanks!

[2018-03-29 12:20] LemieuxGen commented on #1796
Closing the issue and transferring it to the GCpedia repo, tagging with GCwiki.
https://github.com/gctools-outilsgc/gcpedia/issues/91

[2018-03-29 12:20] #1796 closed

[2018-03-29 13:56] LemieuxGen commented on #1763
@Troy-Lawson New deadline is adjusted to match the extended sprint. This issue to be completed by April 9th.

[2018-04-03 14:30] #1797 closed

[2018-04-05 13:46] ethanWallace commented on #1794
Changes are now live

[2018-04-05 13:46] #1794 closed

[2018-04-06 15:38] KevinChagnon commented on #1629
Test Results:

Profiles used:
https://gcconnex.gc.ca/profile/user1
https://gcconnex.gc.ca/profile/user2

Selected Merge from Admin panel
Selections: all besides delete profile
Clicked Merge
Prompt to confirm: clicked OK
Confirmation message: fix in message ok

**OBSERVATIONS** (after cache was flushed)
Personal info: Personal info/avatar did not overwrite
Note: email address should not be overwrit

[2018-04-06 15:38] KevinChagnon commented on #1629
@LemieuxGen  FYI

[2018-04-06 20:48] sdkibb commented on #957
Don't think was ever needed in the end.

[2018-04-06 20:48] #957 closed

[2018-04-06 23:56] #1763 closed

[2018-04-07 00:11] #1305 closed

[2018-04-09 12:26] LemieuxGen commented on #1789
@KevinChagnon or @sabrinatbs Could you confirm if this is still an issue? thanks!

[2018-04-09 13:03] klecuyer commented on #1789
@LemieuxGen we have a manual workaround to reset a user's email if they create a ticket and contact us, but anyone who has not logged into GCcollab since we launched the account service won't be able to get a password reset email. It's a temporary fix but not necessarily sustainable.

[2018-04-11 17:04] nschonni opened #1814 "[feature] Career Marketplace: Add Opportunity Type for "Casual""
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

As a person working for the government as a Casual, I would like to find those seeking or promote myself as looking for Casual opportunities

## Details on issue or enhancement

So not actually a casual, but I see these get posted under deployments, Assignment, Job Sharing, and Secondments. EX: if

[2018-04-12 18:38] LemieuxGen opened #1815 "Broken Language Toggle"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a regular user of GCconnex, I need to be able to switch between English and French from any page.

## Details on issue or enhancement
Since the language encoding has been added to the GCconnex URL for the Solar search, the language of the page does not change when using the language toggle. This

[2018-04-12 18:38] LemieuxGen commented on #1815
@pandurx as discussed, I created the issue so that we can look at this issue as soon as possible. thanks!

[2018-04-13 12:33] markwooff commented on #1814
This feature actually exists on GCcollab, as well as student hires:

![image](https://user-images.githubusercontent.com/5591488/38734939-4d5c85b2-3ef5-11e8-943c-a4690f4606dc.png)

[2018-04-13 14:51] LemieuxGen commented on #1815
@pandurx Is there anythin I need to text for this?

[2018-04-14 02:42] markwooff commented on #1789
Original issue here has been resolved, as well as secondary issue discussed here. Closing!

[2018-04-14 02:42] #1789 closed

[2018-04-14 04:06] nschonni commented on #1814
Great, is the idea that the casual stuff will only go on Collab then?

[2018-04-16 13:19] #1667 closed

[2018-04-17 15:12] ToferC commented on #1181
Build into Profile as-a-service.

[2018-04-17 15:47] Eldoraaoun commented on #1763
Hi all, noticed two small inconsistencies. On GCcollab, the Career Marketplace interface, in the dialogue box, can we add a line break before the sentence 'Join the Career Marketplace group.." (similar to how it appears on GCconnex). Also, in the [Help/Contact Us page](https://gccollab.ca/help/knowledgebase) on GCcollab, under the **GCcollab - Help Content** section, the last tab/hyperlink writes"

[2018-04-17 17:09] markwooff commented on #1763
Hi @Eldoraaoun - I've just made the change on the Career Marketplace main page for GCcollab so that there's a break before the last sentence.

The Help page on GCcollab is an embedded version of our FreshDesk help page so we'll need to edit the content within FreshDesk to reflect these changes. Could you help with this @klecuyer @LemieuxGen ?

[2018-04-17 17:57] klecuyer commented on #1763
@markwooff I looked into this and the folder is empty. Once an article is created in both EN/FR the folder will be also visible in French. I suspect Marianne has been making changes to the Help Content for Career Marketplace in GCcollab. @LemieuxGen thoughts?

[2018-04-18 11:44] LemieuxGen commented on #1763
@klecuyer As discussed yesterday, we don't currently have content for the Career Marketplace on GCcollab. We'll need to work with OCHRO to take the content we have for GCconnex and modify it for GCcollab. @Eldoraaoun Krista and @marianneaubrey15 will be in touch to coordinate. Thanks!

[2018-04-18 15:25] KevinChagnon opened #1821 "Blogs - French title replaced with french blog content"
As a regular user, I need my blog titles in both languages to be displayed as entered so that I can have a blog properly displayed.

When a blog is created in both languages with the use of the toggle and then saved;

The text for the French title is replaced with that of the French blog body (it does retain the text of the body in the Body section)

This can be seen after the blog is saved and th

[2018-04-18 15:25] KevinChagnon commented on #1821
https://github.com/Phanoix/gcconnex-help/issues/62

[2018-04-18 15:28] KevinChagnon commented on #1821
FYI @LemieuxGen @Steph4104

[2018-04-18 17:31] #1821 closed

[2018-04-19 04:07] markwooff commented on #1814
I believe so, perhaps you could confirm @Eldoraaoun?

[2018-04-19 16:39] klecuyer opened #1823 "Colleague pagination renders in two separate lists"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."

As a user, I want to know how many colleagues I have, and browse easily through the list.

Right now, when a user has over 700 colleagues, it looks like it displays the first 700 in 10 per page (70 pages) but there's another separate page navigation for the remainder.

![image](https://user-images.

[2018-04-20 14:31] Eldoraaoun commented on #1814
Thanks @markwooff  !
@nschonni Yes! Casual employment is, and will be, solely supported on GCcollab. The reason for that is because Casual opportunities should be advertised in a fair and equal method to all Canadians. If we support the mechanism on GCconnex (a site only accessible through the GoC firewall) than we would be enabling more opportunity to current Public Servants and depriving other n

[2018-04-20 14:57] nschonni commented on #1814
Makes sense :100:
Maybe as a short term "hack", the Casual could be added to the GCConnex side, but throw a validation warning if someone tries to save it

[2018-04-23 16:08] KevinChagnon opened #1825 "Blog Excerpt replaced with blog content in edit mode, does not update in view mode"
When I edit a blog post, the contents of the Excerpt portion always defaults to the entire blog contents, when in edit mode rather than a excerpt value that may have been previously issued; but does not show the same in view mode. When the Excerpt is updated, these changes are not seen in view mode and reverts to show the entire content of the blog body

[2018-04-23 16:09] KevinChagnon commented on #1825
https://github.com/Phanoix/gcconnex-help/issues/63

[2018-04-24 18:25] #1815 closed

[2018-04-25 15:22] KevinChagnon opened #1830 "AJAX error when clicking "Upload Image" in Group Photo Albums section"
AJAX error when clicking "Upload Image" in Group Photo Albums section;
![image](https://user-images.githubusercontent.com/23527358/39254945-5c9577e0-4879-11e8-8d5d-adcfd8586f6a.png)

![image](https://user-images.githubusercontent.com/23527358/39254984-6f05c380-4879-11e8-945c-b51d56cf98ef.png)

This button is not present in the Photo Album section of a Users profile.

![image](https://user-images.g

[2018-04-25 16:26] KevinChagnon opened #1831 "Group members unable to see other user's Comments in Forum Topic - Can only see their own"
Group members are unable to see other user's Comments posted in Group Forum Topic - They can only see their own comments.  Not any different for Group Owner.

Logged in as Group Owner:

https://gcconnex.gc.ca/gcforums/topic/view/30477031?language=en

![image](https://user-images.githubusercontent.com/23527358/39258739-b43714b4-4882-11e8-927f-1fd0f78e40d1.png)

Logged is as Group member:

https://g

[2018-04-25 16:28] KevinChagnon commented on #1831
https://github.com/Phanoix/gcconnex-help/issues/64

[2018-04-25 17:29] KevinChagnon opened #1832 "Delete button in pop-up window to delete Forums renders no results"
When the "Delete" button is clicked in the confirmation pop-up to delete Forums, the button highlights but there is no further action by the system. Unable to delete the Forum

![image](https://user-images.githubusercontent.com/23527358/39262177-a7363902-488c-11e8-863e-3cfedde018a9.png)

![image](https://user-images.githubusercontent.com/23527358/39262140-8c2f4842-488c-11e8-9e83-84da819fdfc3.png)

[2018-04-25 17:30] KevinChagnon commented on #1832
@pandurx @LemieuxGen
This ticket is coming from OCHRO as they are trying to delete Forums.

[2018-04-25 17:34] KevinChagnon commented on #1832
https://github.com/Phanoix/gcconnex-help/issues/65

[2018-04-25 19:46] JaniceYates opened #1833 "Improvements to share functionality"
### As a user, I should be able to click the share icon and have the option to share the item by posting to the Wire (exists), to my bookmarks, or to a group I own or operate (as a new discussion topic or as a group bookmark).

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review

[2018-04-26 16:38] LemieuxGen opened #1836 "Remove SLE box from GCconnex profile"
Please remove the Second Language Evaluation box from the GCconnex user profile.
As we are not working on currently re-working how language skills will appear in GCconnex profiles, and are now looking at Profile as a service, there is no need to keep this box on the existing GCconnex profiles. This also brought up as a concern through an official language complaint.

![sle box_remove](https://user

[2018-04-26 16:38] LemieuxGen commented on #1836
@Troy-Lawson Please proceed to remove the box. Thanks!

[2018-04-26 17:53] pandurx commented on #1831
this patch will also display the access id to site admins

[2018-04-27 13:40] #1832 closed

[2018-04-27 13:58] #1825 closed

[2018-04-27 14:55] #1831 closed

[2018-04-27 16:39] klecuyer opened #1841 "Certain users/content do not appear in search results"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, when I search for the exact name of another existing user, I hope that their name would appear in a list of results.

## Details on issue or enhancement
Currently, a number of users do not appear in search results, although filters are correct and their name is spelled correctly. Below is

[2018-04-27 16:55] klecuyer commented on #1070
Multiple users reporting duplicate emails/notifications for blogs, events, and polls. My guess is that this is related to slow network connectivity and it re-posting/reloading. I remember there being a fix put in for the Draft feature, but not all of these feature use Draft, like polls and events, so it must be something else. Sometimes I'm sure this can be attributed to user error, but not always

[2018-04-30 15:40] Troy-Lawson opened #1844 "Cookies!"

[2018-04-30 15:40] Troy-Lawson commented on #1844
ex: EN_CA

[2018-05-01 13:59] klecuyer commented on #1584
Tested and 12,000 exactly still gave an error, but 11,500 worked. Tabling it for the rebuild.

[2018-05-01 14:13] klecuyer commented on #1644
Pulls from GCdirectory.

[2018-05-01 14:13] #1644 closed

[2018-05-01 17:54] #1844 closed

[2018-05-02 17:06] KevinChagnon opened #1847 "Remove link to GCconnex Tutorials in GCConnex footer"
It points to a (now) blank GCPedia page / Tutorials are found in Knowledge base.

![image](https://user-images.githubusercontent.com/23527358/39538069-8559ef54-4e09-11e8-9a16-d703f10f293d.png)

[2018-05-02 17:11] KevinChagnon commented on #1715
This is still an outstanding issue (missing some French language); do we have room to work on this during this sprint?
![image](https://user-images.githubusercontent.com/23527358/39538282-4b23dd8a-4e0a-11e8-8aba-c4290398a627.png)
 @LemieuxGen  @Troy-Lawson

[2018-05-02 17:51] KevinChagnon commented on #1574
ticket created in closed collab repo should have been made in closed connex repo.
this issue was resolved as part of the 2 following tickets:
https://github.com/gctools-outilsgc/gcconnex/issues/1305
https://github.com/gctools-outilsgc/gcconnex/pull/1782

[2018-05-02 17:51] #1574 closed

[2018-05-02 20:28] nschonni commented on #1715
Related more to the Digest version, but https://github.com/gctools-outilsgc/gcconnex/issues/1744

[2018-05-03 11:37] Steph4104 commented on #1847
On the register page, we have a link to Gcconnex tutorial, is it still good?

This is the link http://www.gcpedia.gc.ca/wiki/Tutorials_on_GC2.0_Tools_/_Tutoriels_sur_les_outils_GC2.0/GCconnex

[2018-05-03 17:12] KevinChagnon commented on #1847
yes please.

[2018-05-04 20:10] marianneaubrey15 opened #1850 "GCconnex does not switch to French in Chrome."
## Details on issue or enhancement
GCconnex on Chrome does not switch to French after clicking "Français" in the top bar. Appears to be the case on every page.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplic

[2018-05-07 13:52] pandurx commented on #1715
The body now displays
![image](https://user-images.githubusercontent.com/5798645/39705417-59eaea22-51dc-11e8-8ba5-e2c7a4adbba2.png)

[2018-05-07 13:59] #1715 closed

[2018-05-07 14:13] #1847 closed

[2018-05-09 13:33] klecuyer commented on #1850
Can confirm the language toggle is not working. Tested in groups and Career Marketplace in both Chrome and IE
@LemieuxGen @KevinChagnon

[2018-05-10 15:29] klecuyer commented on #1410
https://github.com/gctools-outilsgc/gccollab/issues/324

[2018-05-10 15:29] #1410 closed

[2018-05-15 18:34] klecuyer opened #1856 "Changes to Career Marketplace French Text - GCcollab & GCconnex"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
A user submitted some suggested changes to the French text in the Career Marketplace for better language use.

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/29754185/40076441-e369178a-584c-11e8-8351-9a4053559021.png)
Suggested title should read "Par quelles po

[2018-05-15 18:35] klecuyer commented on #1856
https://support.gctools-outilsgc.ca/helpdesk/tickets/3542

[2018-05-16 17:16] nschonni opened #1858 "Newsfeed notification not being replaced with translation"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
The new content alert wasn't changing the placeholder tag with the correct language tag. Note that GC IT Plan icon also fails to load, but others are.

## Details on issue or enhancement
Below is what I saw today
![image](https://user-images.githubusercontent.com/1297909/40132486-ec65f25e-590a-11e8-

[2018-05-16 19:46] #1168 closed

[2018-05-16 19:49] #893 closed

[2018-05-16 19:49] #1005 closed

[2018-05-16 19:51] #636 closed

[2018-05-16 19:51] Troy-Lawson commented on #932
multi file upload has been changed

[2018-05-16 19:51] #932 closed

[2018-05-16 19:52] Troy-Lawson commented on #925
@ethanWallace @piet0024 is this still an issue?

[2018-05-16 19:54] #900 closed

[2018-05-16 19:55] #855 closed

[2018-05-16 20:36] Troy-Lawson commented on #921
close as will address as part of a new service

[2018-05-16 20:36] #921 closed

[2018-05-16 20:37] Troy-Lawson commented on #915
closed as will be addressed as part of a new service

[2018-05-16 20:37] #915 closed

[2018-05-17 11:25] ethanWallace commented on #925
@Troy-Lawson I do not believe anyone has addressed this issue yet

[2018-05-17 18:36] #622 closed

[2018-05-17 18:38] Troy-Lawson commented on #794
May not be applicable after rebuild

[2018-05-17 18:38] #794 closed

[2018-05-22 18:43] klecuyer opened #1862 "French help content does not populate properly by category"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I should be able to browse help content by category.
![image](https://user-images.githubusercontent.com/29754185/40382824-5a03aba0-5dcd-11e8-830c-fae890252632.png)

Currently, if I click on a section in English, like 'Getting Started', I can browse all articles in this category:
![image](

[2018-05-22 18:44] #1862 closed

[2018-05-22 19:15] KevinChagnon opened #1863 "French language corrections"
"Veuillez voir svp à soigner davantage votre français sur votre site et dans vos correspondances ! C'est gênant, honteux et irrespectueux envers les francophones et envers les 2 langues officielles du pays ! Merci !

On ne dit jamais en français « Soumettre un billet »  Ce n'est pas un billet de spectacle ou de concours !! C'est une demande, une requête, une question, un commentaire, un point, ...

[2018-05-23 12:48] #1830 closed

[2018-05-23 12:57] Steph4104 commented on #1863
Quelle serait la bonne traduction de ticket?

[2018-05-23 16:33] KevinChagnon commented on #1863
I would recommend "une requête"

@LemieuxGen - Thoughts?

[2018-05-23 17:26] LemieuxGen commented on #1863
@KevinChagnon @Steph4104 the tranlsation for ticket is "Billet". It's an approved translation in Termium (http://www.btb.termiumplus.gc.ca). Please keep it "billet". Thanks!

[2018-05-28 14:03] LemieuxGen commented on #1644
@klecuyer was PArliamentary Budget added to GCconnex? and if not, can you confirm that the resolution of using GCcollab ok with the client? thanks!

[2018-05-28 14:38] klecuyer commented on #1644
@LemieuxGen the client was able to register initially using his govt email. He just wanted to have this sub-section or division added as an option in GCconnex. The explanation I gave him was that GCconnex pulls information from GCdirectory and that once it is in GCdirectory we can add it in GCconnex

[2018-05-28 14:41] LemieuxGen commented on #1644
Great, thanks for clarifying @klecuyer

[2018-05-28 15:50] #1863 closed

[2018-05-30 12:42] LemieuxGen opened #1866 "Redirect is broken when logging in to GCconnex from a site page"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a regular user, I need to be able to navigate the site and be able to be redirected to the same page I was viewing after logging in.

## Details on issue or enhancement

example: I am on a group page, want to contribute so I decide to login.

![image](https://user-images.githubusercontent.com/153

[2018-05-30 12:43] LemieuxGen commented on #1866
@Troy-Lawson are there any points left in the sprint to address this issue?

[2018-06-06 14:37] #1850 closed

[2018-06-13 17:48] #1856 closed

[2018-06-15 13:57] pandurx commented on #1841
Rajeev said he included the users listed in the Solr index.

[2018-06-21 13:20] klecuyer opened #1871 "Update Link: Badges Help"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user on GCconnex, clicking for more info on badges next to my profile brings me to a broken link: a deleted GCpedia page. If it's a priority, please update the link to our help content.

## Details on issue or enhancement
Old link: on every user profile under **Badges**
![image](https://user-im

[2018-06-21 13:22] klecuyer commented on #1871
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4072

[2018-06-22 15:58] klecuyer commented on #1746
French registration text is still old text. Not sure if it was never changed, or somehow reverted back after an update.
![image](https://user-images.githubusercontent.com/29754185/41786400-629ccd10-7613-11e8-87d1-98cb9151d6e3.png)

The text was sent in an email on March 9th, 2018. @Troy-Lawson I can resend if needed.

@LemieuxGen

[2018-06-22 16:10] LemieuxGen commented on #1746
@klecuyer Can you add the updated text here?

[2018-06-22 16:31] klecuyer commented on #1746
@LemieuxGen

1.	Votre compte GCconnex doit être lié à une **adresse de courriel valide du gouvernement du Canada** se terminant par gc.ca ou Canada.ca.
2.	Vous devez **valider** votre nouveau compte avant de pouvoir ouvrir une séance pour la première fois. Un courriel de validation sera envoyé à votre adresse de courriel. Cliquez sur le lien figurant dans le courriel (ou copiez-collez-le dans votr

[2018-06-22 16:34] klecuyer opened #1872 "'Invalid email' when trying to create opportunity"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a logged-in user, I want to create an opportunity. As soon as I fill out the necessary fields in Step 1, check the required box, I am told my canada.ca email address is invalid.
![image](https://user-images.githubusercontent.com/29754185/41788070-669f4eec-7618-11e8-938a-0927be65e329.png)

## Deta

[2018-06-22 16:35] klecuyer commented on #1872
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4098

[2018-06-25 17:35] klecuyer commented on #1872
Issue was specific to the user's profile. Now resolved, will reopen if it isn't.

[2018-06-25 17:35] #1872 closed

[2018-06-25 17:56] Troy-Lawson commented on #1180
This functionality will be built into the profile / directory service, so this issue will be closed

[2018-06-25 17:56] #1180 closed

[2018-06-25 18:00] Troy-Lawson commented on #1181
will be built into profile project

[2018-06-25 18:00] #1181 closed

[2018-06-25 18:02] Troy-Lawson commented on #1348
Closing this card as i doubt this is still relevant

[2018-06-25 18:02] #1348 closed

[2018-06-25 18:08] Troy-Lawson commented on #808
@Phanoix can we close this issue?

[2018-06-25 18:23] Troy-Lawson commented on #1439
@Phanoix abandon in favour of issue repo?

[2018-06-25 18:28] Troy-Lawson commented on #1278
This list is pulled from GEDs. If the organisation isnt in teh drop down list then it must not be in GEDS either. Our options could include manually maintaining additional organisations in the list, or allowing a "other" category with a free form entry field, or continuing to ignore  the problem

[2018-06-25 18:56] Troy-Lawson commented on #80
closed as assumed this will not be worked on

[2018-06-25 18:56] #80 closed

[2018-06-25 18:57] Troy-Lawson commented on #3
Closed as will not likely be fixed before rebuild

[2018-06-25 18:57] #3 closed

[2018-06-25 18:59] #245 closed

[2018-06-25 18:59] #247 closed

[2018-06-25 18:59] #249 closed

[2018-06-25 18:59] #250 closed

[2018-06-25 18:59] #252 closed

[2018-06-25 19:00] #253 closed

[2018-06-25 19:00] #254 closed

[2018-06-25 19:00] #261 closed

[2018-06-25 19:00] #263 closed

[2018-06-25 19:00] #265 closed

[2018-06-25 19:01] #270 closed

[2018-06-25 19:03] Troy-Lawson commented on #242
closed as assumed message is the long term strategy to replace comet chat

[2018-06-25 19:03] #242 closed

[2018-06-25 19:05] Troy-Lawson commented on #243
closing as assumed that feature will be replaced in rebuild

[2018-06-25 19:05] #243 closed

[2018-06-25 19:06] Troy-Lawson commented on #236
closing as feature request for legacy system

[2018-06-25 19:06] #236 closed

[2018-06-25 19:07] Troy-Lawson commented on #237
closed as feature request for legacy system

[2018-06-25 19:07] #237 closed

[2018-06-25 19:08] Troy-Lawson commented on #238
closed as system will be rebuilt

[2018-06-25 19:08] #238 closed

[2018-06-25 19:09] Troy-Lawson commented on #232
closing as not likely to be addressed before rebuild

[2018-06-25 19:09] #232 closed

[2018-06-25 19:09] Troy-Lawson commented on #234
closed as too vague

[2018-06-25 19:09] #234 closed

[2018-06-25 19:11] Troy-Lawson commented on #231
closed as feature request for legacy system

[2018-06-25 19:11] #231 closed

[2018-06-25 19:12] #228 closed

[2018-06-25 19:12] #221 closed

[2018-06-25 19:13] Troy-Lawson commented on #209
closed as rebuilding

[2018-06-25 19:13] #209 closed

[2018-06-25 19:13] #210 closed

[2018-06-25 19:15] Troy-Lawson commented on #481
closed as enhancement to legacy system

[2018-06-25 19:15] #481 closed

[2018-06-25 19:36] Troy-Lawson commented on #557
closed as will not be making enhancements to legacy tools

[2018-06-25 19:36] #557 closed

[2018-06-25 19:38] Troy-Lawson commented on #565
this is not possible for something so far in the past.

[2018-06-25 19:38] #565 closed

[2018-06-25 19:40] #569 closed

[2018-06-25 19:41] Troy-Lawson commented on #570
will not be addressed

[2018-06-25 19:41] #570 closed

[2018-06-25 20:10] #608 closed

[2018-06-25 20:12] Troy-Lawson commented on #624
closing as enhancement

[2018-06-25 20:12] #624 closed

[2018-06-25 20:12] #628 closed

[2018-06-25 20:13] Troy-Lawson commented on #639
closing as we will no likely work on this before rebuild

[2018-06-25 20:14] #639 closed

[2018-06-25 20:14] Troy-Lawson commented on #646
not likely to fix prior to rebuild

[2018-06-25 20:14] #646 closed

[2018-06-25 20:15] #651 closed

[2018-06-25 20:15] Troy-Lawson commented on #651
will implement in rebuild

[2018-06-25 20:19] #652 closed

[2018-06-25 20:19] #662 closed

[2018-06-25 20:20] #672 closed

[2018-06-25 20:21] Troy-Lawson commented on #673
may not be relevant after rebuild

[2018-06-25 20:22] #677 closed

[2018-06-26 17:16] Troy-Lawson commented on #705
will look to include as feature in rebuild. information architecture should be considered. closed for current work

[2018-06-26 17:20] Troy-Lawson commented on #714
closed as enhancement to legacy system

[2018-06-26 17:20] #714 closed

[2018-06-26 17:29] Troy-Lawson commented on #717
closing as will not be tackled in current version of the tools. will look into for the rebuild

[2018-06-26 17:32] Troy-Lawson commented on #736
closing for rebuild

[2018-06-26 17:54] klecuyer commented on #1841
@4rsood could you manually add this group to to the Solr index, making this group searchable?
Link: https://gcconnex.gc.ca/groups/profile/39784216/e-div-prime-purge-epurge?language=en
Group name (keywords): E Div PRIME Purge (ePurge)

Currently typing in the group name gives 0 results.
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4122

[2018-06-26 18:20] #767 closed

[2018-06-26 18:21] #771 closed

[2018-06-26 18:33] Troy-Lawson commented on #788
will not work on in legacy systems

[2018-06-26 18:33] #788 closed

[2018-06-26 18:49] Troy-Lawson commented on #797
will close as enhancement to legacy system

[2018-06-26 18:49] #797 closed

[2018-07-06 16:14] klecuyer commented on #1841
Another page wants to appear in Search GCTools results and doesn't: CFIA Mobility Information Hub
http://www.gcpedia.gc.ca/wiki/CFIA_Mobility_Information_Hub
![image](https://user-images.githubusercontent.com/29754185/42389246-0eb813cc-8116-11e8-9392-638f8e8c90ab.png)

[2018-07-09 16:52] Troy-Lawson commented on #1841
related to gccollab gctools-outilsgc/gccollab#336

[2018-07-09 17:59] klecuyer opened #1881 "Missing titles (group name, blog titles, author name) both GCconnex and GCcollab"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Certain fields are missing titles: group names, profile names and in breadcrumbs.
This was initially reported in GCcollab on IE11 but can confirm this is also happening in GCconnex and on Chrome.

The below example is a **sub-group of a sub-group** missing the parent group's names in the breadcrumbs

[2018-07-13 16:07] klecuyer opened #1885 "GCconnex Splash Page: Language Toggle"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
The splash page for GCconnex: clicking on English brings you to the French login screen and vice versa.

https://gcconnex.gc.ca/splash/

Tested on Chrome and IE.

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/29754185/42701689-3d87f760-8695-11e8-9b73-914562a38

[2018-07-13 16:08] klecuyer commented on #1885
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4329

[2018-07-18 17:59] klecuyer opened #1889 "Can't add a badge to my avatar"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I want to add a badge to my avatar. I did have this badge on my avatar, then updated the photo, now when I add the badge and save, it doesn't appear.

## Details on issue or enhancement
I'm editing my avatar: https://gcconnex.gc.ca/avatar/edit/Rebecca.Hanssen
I'm a member of the associate

[2018-07-25 18:48] klecuyer opened #1893 "Users getting IP address password resets - didn't request one"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Multiple users have reported getting mysterious password reset emails from their IP address, although they didn't request one.
![image](https://user-images.githubusercontent.com/29754185/43221023-91b9e91e-9019-11e8-8b4b-781ba95101f7.png)

Another: Une demande de réinitialisation du mot de passe a ét

[2018-07-26 13:58] marianneaubrey15 opened #1894 "Identical text appearing in multiple widgets."
When clicking on "Ce contenu est aussi disponible en Francais" the text appears in other widgets.

![widgetbug](https://user-images.githubusercontent.com/35609738/43266726-1c94ec64-90ba-11e8-8925-60d51e415e7c.PNG)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by

[2018-07-26 19:37] klecuyer opened #1895 "Department issue - bad request/AJAX error/verify department"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
A user reports having frequent trouble accessing GCconnex. She says often on her newsfeed or The Wire she gets the following error.
![image](https://user-images.githubusercontent.com/29754185/43284260-3c6a54c8-90e9-11e8-90d2-a920428abef3.png)

I can see from the URL something about verifying her dep

[2018-08-01 15:02] klecuyer commented on #1414
Users still reporting multiple notifications. Checked their subscriptions in admin panel - nothing.

No duplicate accounts either.

christine.arnott@cra-arc.gc.ca
https://gcconnex.gc.ca/profile/christine.arnott?language=en

[2018-08-01 15:09] klecuyer commented on #1414
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4554

[2018-08-02 14:49] klecuyer commented on #1414
User above: christine.arnott
![image](https://user-images.githubusercontent.com/29754185/43591604-aecafc4a-9641-11e8-8d2d-00eff2a69e04.png)

[2018-08-02 16:27] klecuyer commented on #1414
This user has no subscriptions but still receives Career Marketplace notifications. carolynne.windich
![image](https://user-images.githubusercontent.com/29754185/43597155-3b8e5f7a-964f-11e8-9b86-ece3f386752e.png)
![image](https://user-images.githubusercontent.com/29754185/43597191-5657dc1e-964f-11e8-86b8-12940b83cc32.png)

[2018-08-02 16:32] klecuyer commented on #1414
Linked to https://github.com/gctools-outilsgc/gcconnex/issues/1414

[2018-08-02 16:33] klecuyer commented on #1070
Linked to: https://github.com/gctools-outilsgc/gcconnex/issues/1414

[2018-08-02 16:33] klecuyer commented on #1070
Closing to keep one ticket #1414

[2018-08-02 16:42] klecuyer commented on #1070
Assume this is different from the notification issues here #1414
This is likely related to network connectivity. The page loads and loads, errors out, then posts the content multiple times.
![image](https://user-images.githubusercontent.com/29754185/43597947-86cd6baa-9651-11e8-96a5-e55da639925f.png)

[2018-08-09 23:25] #1316 closed

[2018-08-10 15:47] Troy-Lawson commented on #291
blocked by business decision, regarding where this fits. possible career marketplace

[2018-08-15 16:28] klecuyer commented on #1841
@4rsood could you make this group searchable: E Div PRIME Purge (ePurge): https://gcconnex.gc.ca/groups/profile/39784216/e-div-prime-purge-epurge

https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4122

[2018-08-15 16:36] klecuyer opened #1903 "Help/Documentation: Creating and Editing Tables"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
@marianneaubrey15

Freshdesk: https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4001

Tables don't appear by default in GCconnex Pages. It must be edited manually in Source.

Article needed around creating and editing tables for Pages in GCconnex and Docs in GCcollab (if applicable). The table m

[2018-08-15 16:48] klecuyer commented on #1894
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4402

[2018-08-16 17:40] #1894 closed

[2018-08-20 13:34] klecuyer commented on #1894
@Steph4104 is this resolved?

[2018-08-20 15:06] ethanWallace commented on #1866
@Troy-Lawson look at this

[2018-08-21 16:07] klecuyer opened #1904 "Search filter does not stick after 1st page of results"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need to filter my search results on GCconnex (GCintranet).

Let's say I want to filter only by groups. This works on the first page, but once I get to the second page of results my filter is lost. If I re-click on the Groups filter I'm brought back to page 1 again as a new session.

##

[2018-08-21 16:08] klecuyer commented on #1904
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4809

[2018-08-21 16:57] 4rsood commented on #1904
@klecuyer The search filter issue is resolved now

[2018-08-21 17:02] klecuyer commented on #1904
@4rsood amazing. Thank you!

[2018-08-21 17:02] #1904 closed

[2018-08-21 17:27] 4rsood commented on #1866
@Troy-Lawson @ethanWallace @klecuyer This bug is preventing some gcconnex pages from being indexed and are therefore, un-searchable.

[2018-08-21 18:02] klecuyer commented on #1584
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/4754

[2018-08-28 14:43] piet0024 commented on #1746
The language is in master, and works on my dev instance. It may be a plugin order issue, or the site caches may need to be flushed.

[2018-08-28 15:40] klecuyer opened #1907 "Remove delete icon from groups list GCconnex & GCcollab"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, it's too easy for me to accidentally delete my group: either from the groups list or related groups widget.
![image](https://user-images.githubusercontent.com/29754185/44733764-44369e00-aab6-11e8-9f0e-98ff7ef307b6.png)

Currently, group owners AND operators can delete the group, making ro

[2018-08-29 12:30] klecuyer opened #1908 "Bullets in lists don't display in IE"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
As a user, I need to be able to read long bulletes lists, which don't currently format in IE. Many departments only have access to IE as a browser and it displays like this:
![image](https://user-images.githubusercontent.com/29754185/44787635-a69aa780-ab65-11e8-9cd3-e410c6ae2382.png)

Instead of thi

[2018-08-31 12:48] klecuyer commented on #1885
@ryanlacroix are we waiting on anything other than review?

[2018-09-13 17:06] marc-donofrio opened #1913 "Can't access the admin panel (Legacy tools)"
As a help desk officer and admin of GCconnex, I need access to the admin panel to assist users with their issues.

When I click on the Admin button, the page times out:

Step 1:
![image](https://user-images.githubusercontent.com/42844328/45503660-794d1c80-b755-11e8-98b4-d5cf838d86e0.png)
Result:
![image](https://user-images.githubusercontent.com/42844328/45503753-dcd74a00-b755-11e8-9f4c-68344a3774

[2018-09-13 17:28] LemieuxGen commented on #1913
This issue has surfaced in the past, and the issue was linked to the widgets on the page that take too long to load. perhaps there'S a way to remove the unnecessary widgets by default...

[2018-09-14 11:50] #1907 closed

[2018-09-14 16:52] klecuyer commented on #1885
@Phanoix @ryanlacroix does this solve https://github.com/gctools-outilsgc/gccollab/issues/353

[2018-09-15 03:29] Phanoix commented on #1070
What content types are stiff getting duplicates? I can try adding them to the duplication countermeasure I have set up that seems to have been working so far for a few types.

[2018-09-15 03:32] Phanoix commented on #1885
This is only for gccollab/connex, that is an issue with the [concierge](https://github.com/gctools-outilsgc/concierge) language toggle.

[2018-09-17 13:05] klecuyer commented on #1070
@Phanoix it seems to be a mix of blogs, discussions, and polls

[2018-09-17 17:02] Phanoix commented on #1070
For discussions is it new discussions being started or replies or both?

[2018-09-17 17:30] klecuyer commented on #1070
I would say the trend seems to be new content (discussions)

[2018-09-17 18:06] Phanoix commented on #1070
Are blogs still getting duplicated? That should have been fixed / prevented from happening about a month ago.

[2018-09-18 12:37] klecuyer commented on #1469
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5065

[2018-09-19 13:01] martydonofrio opened #1915 "Can't access members page for a group"
A group owner can't access the members page. I am also not able to access the page:

Groups affected:
https://gcconnex.gc.ca/groups/profile/24271235/cfia-ontario-inclusiveness-and-diversity-committee?language=en **FIXED**
https://gcconnex.gc.ca/groups/profile/38314698/passport-operational-training-coachs-corner?language=en **FIXED**
https://gcconnex.gc.ca/groups/profile/22203269?language=en
https:

[2018-09-19 13:31] klecuyer commented on #1841
Ticket: https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5065

@4rsood Question for you: Tagging in GCconnex uses the search function, correct? So this content, he has added some tags yesterday and is wondering why for some of them (NAO Biometrics), some irrelevant content shows up and for another (NAOBiometrics) nothing appears in search results when he clicks the tag: https://gcconnex.gc.ca

[2018-09-19 13:40] 4rsood commented on #1841
@klecuyer, I will get back to you soon.  Yes it uses the search function.  it will not appear in search results only if the document was posted yesterday or today.

[2018-09-21 13:29] martydonofrio commented on #1915
Another group is having this issue:
https://gcconnex.gc.ca/groups/profile/24271235/cfia-ontario-inclusiveness-and-diversity-committee?language=en

[2018-09-21 13:31] klecuyer commented on #1915
Thanks @martydonofrio

Can you include the links to these 2 Freshdesk tickets also?

[2018-09-21 13:34] martydonofrio commented on #1915
Tickets:
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5192
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5139

[2018-09-27 19:36] klecuyer opened #1921 "Emails from GCconnex/GCpedia not being sent"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
Outgoing emails for GCconnex not being sent for:
- newly registered accounts
- password resets
- group notifications

## Details on issue or enhancement

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business te

[2018-09-27 21:19] nschonni commented on #1921
I didn't see the Digest this morning either from GCConnex (but did for Collab)

[2018-10-01 18:58] martydonofrio commented on #1841
Is it possible to add the following users to the search:
https://gcconnex.gc.ca/profile/Sally.hasan
https://gcconnex.gc.ca/profile/abby.savoie

They don't seem to appear.

[2018-10-02 13:10] klecuyer opened #1923 "Cannot submit Freshdesk ticket"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
A user cannot submit a Freshdesk ticket after multiple attempts. See error message below:
![image](https://user-images.githubusercontent.com/29754185/46349824-244c4a00-c621-11e8-9cac-f2ee9696b964.png)

 I tested submitting a ticket (not logged in) twice.
Both times I and got an error message that I

[2018-10-02 13:17] klecuyer commented on #1923
was able to create a ticket in GCcollab not logged in

[2018-10-02 13:40] klecuyer commented on #1923
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5337

[2018-10-03 17:38] martydonofrio commented on #1915
Another group: https://gcconnex.gc.ca/groups/profile/22203269?language=en

[2018-10-04 13:38] 4rsood commented on #1841
@martydonofrio  The following users are now searchable
https://gcconnex.gc.ca/profile/Sally.hasan
https://gcconnex.gc.ca/profile/abby.savoie

[2018-10-05 16:41] klecuyer commented on #1841
@4rsood for the ePurge group, it's not a sub-group and it's an open group. Specific group content is only viewable by members, but does this mean that the group itself still can't be searched, even if it's open? https://gcconnex.gc.ca/groups/profile/39784216/e-div-prime-purge-epurge?language=en

[2018-10-05 19:48] 4rsood commented on #1841
@klecuyer You are right that the group should be searchable.  After further investigating, I am seeing a pattern where the URLs like https://gcconnex.gc.ca/groups/profile/39784216/e-div-prime-purge-epurge?language=en are not being indexed while others like  https://gcconnex.gc.ca/groups/profile/42175343?language=en are being indexed with no problem.  I will speak to the dev team and figure out if

[2018-10-10 18:22] 4rsood opened #1927 "Bug in the GCconnex site map mod set up for the Solr crawler"
There may be a bug in the GCconnex site map mod that was set up for the Solr crawler.  Some of the crawled URLs have missing information in the Solr index and may have to be because
the GCconnex application is not rendering the web contents for all the URLs if the request comes from the "solr-crawler" agent.

This has resulted in some of the groups' and users' contents not being indexed and theref

[2018-10-11 12:49] 4rsood commented on #1841
The following accounts are now searchable:
https://gcconnex.gc.ca/profile/Francisco.Couto?language=en
https://gcconnex.gc.ca/profile/Daryell.Nowlan?language=en
https://gcconnex.gc.ca/profile/Cheryl.Baraniecki?language=en

[2018-10-11 14:48] Troy-Lawson commented on #1746
This is fixed once again. The issue was the translation editor was overriding the language file. closing this issue

[2018-10-11 14:48] #1746 closed

[2018-10-11 17:49] martydonofrio commented on #1915
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5533

[2018-10-11 18:43] martydonofrio opened #1928 "User can't post new work experience"
As a user posting work experience, I should be able to post more than 13 posts under the Work Experience section.

## Details on issue or enhancement
Here is the error message, no box is highlighted red in the whole section and I could reproduce this issue every time.
![image](https://user-images.githubusercontent.com/42844328/46826282-99c3c300-cd63-11e8-8546-5c841948f176.png)

## For the developm

[2018-10-11 18:43] martydonofrio commented on #1928
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5472

[2018-10-15 15:39] 4rsood commented on #1841
@klecuyer I have opened a ticket for the dev team to investigate a possible bug in gcconnex that is preventing Solr crawler to read some of web pages' contents and therefore, such pages are not searchable.

[2018-10-19 15:37] Troy-Lawson commented on #1928
will not be fixing.

[2018-10-19 15:37] #1928 closed

[2018-10-19 15:38] Troy-Lawson commented on #1921
i believe this is fixed

[2018-10-19 15:38] #1921 closed

[2018-10-24 18:43] MGoodberry commented on #1903
@LemieuxGen

Draft in Freshdesk under GCcollab Help Content > Content Management

[2018-10-26 12:42] martydonofrio commented on #1915
Page 4 of the members list: https://gcconnex.gc.ca/groups/members/24775859#customTable

[2018-10-30 14:43] martydonofrio commented on #1915
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5830

[2018-10-30 18:57] martydonofrio opened #1933 "GCmessage login loop"
As a user with a GCcollab account, I need to login to GCmessage.

The login page accepts the credentials but then redirects back to the login page.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or conne

[2018-10-30 19:01] martydonofrio commented on #1933
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5842
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5778
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5808
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5796
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5785

[2018-11-01 15:46] martydonofrio opened #1934 "Career drop-down list is different on profile pages vs search page"
As a user of GCconnex user, I need that the menu bar dropdowns match to avoid confusion in different pages.

View on profile page:
![image](https://user-images.githubusercontent.com/42844328/47862357-550fd280-ddcb-11e8-9f16-75f89c3aca07.png)

View on search page:
![image](https://user-images.githubusercontent.com/42844328/47862412-7244a100-ddcb-11e8-90b8-eff6a7ed546e.png)

## For the development t

[2018-11-01 15:46] martydonofrio commented on #1934
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5777

[2018-11-05 13:32] martydonofrio commented on #1933
This user was previously logged in and not can't access: https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/5889

[2018-11-08 18:56] 4rsood opened #1936 "Add noindex,follow robots meta tag"
Please make a change to ensure all GCconnex and GCcollab pages that have the Meta tag dcterms.type value blank have the following Meta tag:

`<meta name=”robots” content=”noindex, follow”>`

This change is needed to disallow indexing of the main list pages and allow indexing of the actual content pages.

## Details on issue or enhancement

## For the development team
- [ ] Issue user story documen

[2018-11-14 19:40] martydonofrio commented on #1915
https://gccollab.gctools-outilsgc.ca/helpdesk/tickets/6044

[2018-11-15 19:45] martydonofrio opened #1938 "Ajax error with group files"
As a user, I need to upload or move files already uploaded.

User is getting an Ajax error when attempting to upload files or move them. I was able to reproduce this error in Chome.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment

[2018-11-15 19:45] martydonofrio commented on #1938
https://gccollab.gctools-outilsgc.ca/a/tickets/6029

[2018-11-16 20:44] 4rsood opened #1939 "GCcollab's Solr bypass authentication logic is only working partially"
## Details on issue or enhancement

Please make the necessary changes to the GCcollab bypass authentication logic for the solr crawler.  The crawler is able to index a few document types (User, Group, Wire, Idea) but the Blog, Bookmark, File, Event_calender pages are not getting crawled & indexed. They get rejected after being redirected to https://gccollab.ca/login.  A change is required to allow

[2018-11-19 15:33] MGoodberry commented on #1903
French screenshots taken. Just waiting for translation to publish.

[2018-11-19 19:20] #1933 closed

[2018-11-20 16:40] martydonofrio opened #1940 "Text error in GCcollab's password reset window."
As a user, when I reset my password, the message saying the email is sent is worded in a confusing way.

The text in the message states that the email will be sent when the password is registered:
![image](https://user-images.githubusercontent.com/42844328/48788452-d961c100-ecb8-11e8-8d06-a113e5612b75.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ]

[2018-11-21 13:56] #1903 closed

[2018-11-21 15:59] martydonofrio commented on #1940
Suggested text to be approved and translated:

You will receive an email with a link to set a new password in the next 20 minutes. Please check your junk folder.

[2018-11-21 19:37] MGoodberry commented on #1940
French translation: Au sein de 20 minutes, vous allez recevoir un courriel avec un lien pour créer un nouveau mot de passe. Veuillez vérifier votre dossier de courrier indésirable.

[2018-11-22 14:33] Steph4104 commented on #1940
@MGoodberry Maybe it's just me but "Au sein de 20 minutes" does not make a lot of sense for me. My suggestion will be ' En l'espace de 20 minutes' or 'Au courant des 20 prochaines minutes'.
What do you think?

[2018-11-22 14:37] MGoodberry commented on #1940
@Steph4104 That could work. I had Sierra translate it for me because translation won't accept text under 50 words. I'll have Gen take a look.

[2018-11-22 14:54] MGoodberry commented on #1940
@Steph4104 Vous recevrez un courriel avec un lien vous permettant de définir un nouveau mot de passe dans les 20 prochaines minutes. Veuillez vérifier votre dossier de courriel indésirable.

[2018-11-23 15:49] #1624 closed

[2018-11-23 15:49] #1871 closed

[2018-11-26 13:04] #1940 closed

[2018-11-27 14:39] Steph4104 commented on #1915
Send information about user with broken account. Those users need to be delete to solve this issue.

[2018-11-29 15:52] marc-donofrio opened #1944 "Add widget button not working in dashboard"
As a user, I need to be able to add widgets to my GCconnex personal dashboard.

After clicking the Add widget button, the user gets a blank pop-up:
![image](https://user-images.githubusercontent.com/42844328/49233802-c9d32e00-f3c4-11e8-92bd-9cddf80df933.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by busin

[2018-11-29 15:53] Menrika opened #1945 "French Language Correction on GCconnex -- closed groups"
As a user as navigating GCconnex, the text in french should be as accurate as the text in english with impeccable spelling  to showcase the tool's professionalism.

Current text with spelling error:
Ceci est un groupe fermé. Le contenu de **se groupe** est accessible uniquement à ses membres." Pour y devenir membres, cliquez sur le lien **"Demande d'ahdesion**

Suggested text by user :
Ceci est un

[2018-11-29 15:55] martydonofrio commented on #1944
https://gccollab.gctools-outilsgc.ca/a/tickets/6236

[2018-11-30 20:23] Steph4104 commented on #1915
Delete user with unvalided / desactivate broken account.

[2018-11-30 20:23] #1915 closed

[2018-12-03 13:16] Phanoix opened #1946 "Try out managed DB"
See if / how well a managed azure mysql / mariadb service works for collab.

[2018-12-03 19:44] marc-donofrio opened #1947 "Can't see all GCconnex groups in a list"
As a user, I need to be able to see an alphabetical list of all groups in GCconnex.

Our help article shows how the option should appear:
![image](https://user-images.githubusercontent.com/42844328/49397493-c4018380-f709-11e8-91aa-f9d80c9aa0a1.png)
Source: https://gccollab.gctools-outilsgc.ca/a/solutions/articles/2100027146

Here is what we currently see:
![image](https://user-images.githubusercon

[2018-12-03 19:45] martydonofrio commented on #1947
https://gccollab.gctools-outilsgc.ca/a/tickets/6280

[2018-12-06 14:18] Phanoix commented on #1946
- azure mysql only supports innodb and memory storage engines
 - https://docs.microsoft.com/en-us/azure/mysql/concepts-limits

[2018-12-09 06:16] Phanoix commented on #1946
The managed mysql service seems to work with elgg assuming all tables are converted to innodb.

[2018-12-11 13:43] Steph4104 commented on #1947
I don't know why and when it was remove but we we want it back, you just need to access the admin panel / settings / group tools -> Under **Available group listing tabs** you check **Alphabetical** and you click **save**.

[2018-12-12 14:32] martydonofrio commented on #1945
I do agree they should match.

[2018-12-12 14:41] Menrika commented on #1945
@martydonofrio @Steph4104 Good job Stephanie catching that one, I did not notice at all and when I did I got completely confused

[2018-12-12 14:50] Menrika opened #1950 "GCMessage log in bug --- Blank Screen / IE"
Some users gets directed to a blank or grey screen whenever they try to log in to **GCcollab's GCmesage** portal on their desktop using **Internet Explorer** even when it worked before it stops working. I don't know yet if its a IT issue.

So far the **departments** affected are : Shared Service, Employment and Social Development , National Defense and Service Canada. But not for everyone just a f

[2018-12-13 12:38] #1945 closed

[2018-12-13 14:51] martydonofrio commented on #1950
https://gccollab.gctools-outilsgc.ca/a/tickets/6435

[2018-12-13 16:52] martydonofrio commented on #1950
juliana.tow@cbsa-asfc.gc.ca
tahira.khan@pptc.gc.ca
jillian.hooper@forces.gc.ca

[2018-12-17 14:09] martydonofrio opened #1952 "Can't access members list"
A user is causing the members list to give a HTTP ERROR 500. Can the user be identified for deletion?

Group: https://gcconnex.gc.ca/discussion/owner/26434475

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplica

[2018-12-17 14:47] Steph4104 commented on #1952
@martydonofrio , User is Alice.Lau

If you need more info, let me know.

[2018-12-17 21:37] Phanoix commented on #808
This had happened already and the old chat has since been replaced by https://message.gccollab.ca

[2018-12-17 21:37] #808 closed

[2018-12-19 14:30] martydonofrio commented on #1952
I can't find that user. Can you deleted it from your end?

[2018-12-19 14:32] martydonofrio commented on #1099
https://gccollab.gctools-outilsgc.ca/a/tickets/6522

[2018-12-20 18:57] martydonofrio commented on #1409
https://gccollab.gctools-outilsgc.ca/a/tickets/6570

[2018-12-28 18:55] Menrika opened #1954 "Validation email not received post-registration/SPAM detection -- CRA & others"
## Emails from gctools blocked by spam detection in certain departments.

It was noticed that registration **validation emails were not received.** It was mostly observed with **Canada Revenue Agency employees** which were tracked.

Other department that we received complaints : **Transportation Safety Board of Canada**

**CRA** manually validated account count thus far : **26**

According to my c

[2019-01-03 21:22] martydonofrio opened #1956 "User can't access GCmessage on iPhone"
As a user of GCmessage, I need to be able to login from my browser or the iPhone Rocket Chat app.

When attempting to login to the Rocket Chat app, users are getting the following error message:
"Oops!  Something wrong happened when trying to login"

User: anna.wong@canada.ca

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design

[2019-01-03 21:22] martydonofrio commented on #1956
https://gccollab.gctools-outilsgc.ca/a/tickets/6581

[2019-01-09 14:08] Menrika commented on #1954
email :
kyle.jackson@tsb-bst.gc.ca

[2019-01-10 14:37] Steph4104 commented on #1952
User deleted

[2019-01-10 20:12] #1939 closed

[2019-01-10 20:15] #1927 closed

[2019-01-11 19:44] martydonofrio commented on #1952
The user reported that the 3rd page now doesn't load.

[2019-01-14 13:07] Steph4104 commented on #1952
@martydonofrio , user is Myrian.Bouchard.
Let me know if you can't find the user.

[2019-01-14 16:50] Troy-Lawson commented on #1954
look for TBS SMTP server

[2019-01-14 16:50] Troy-Lawson commented on #1954
COLLAB issue

[2019-01-15 14:46] martydonofrio opened #1958 "Content missing from GCcollab groups"
Users are missing content from their group blogs or discussions.

The affected groups have reported that content is missing, in some cases content from the last 2-3 months is missing. One user reported that a user with the name SolCrawler was added to the group right before missing content.

Affected groups:
- https://gccollab.ca/groups/profile/1042029/envoilu00c0frvoilu00c0
- https://gccollab.ca/

[2019-01-15 15:01] JOutram77 commented on #1958
Blogs are also missing from the Policy Community at: https://gccollab.ca/groups/profile/85014/enthe-policy-communityfrla-communautu00e9-des-politiques

[2019-01-15 15:45] martydonofrio commented on #1952
Sorry, I can't find that user. Can you delete them?

[2019-01-17 16:22] marc-donofrio opened #1959 "Users can't login to support portal"
As a user of GCcollab, I need to be able to login to the support portal with my GCcollab account.

The following users can login to GCcollab but the support portal gives them the error message that their password is incorrect.
mohammed.elmachkour1@cic.gc.ca
kyle.jackson@tsb-bst.gc.ca
patrick.coghlan@canada.ca
howard.jones@canada.ca
jean.richer@cic.gc.ca

 can login to GCcollab but the support port

[2019-01-17 19:21] #1958 closed

[2019-01-17 19:24] marc-donofrio opened #1960 "Word files blank after rollback in GCcollab"
As a user of GCcollab, I need access to the content of my files after a roll-back.

A user reported that their word files are all blank after being restored. Here is the group:
https://gccollab.ca/groups/profile/868173/enprocurement-real-property-and-materiel-management-functional-communitiesfrcollectivitu00e9s-fonctionnelles-de-lapprovisionnement-des-biens-immobiliers-et-de-la-gestion-du-matu00e9

[2019-01-21 12:52] martydonofrio opened #1963 "Users can’t pin messages in GCmessage"
As a user of GCmessage, I need to be able to pin messages as a chat owner or moderator.

Admin can pin messages but not owners/moderators.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issu

[2019-01-21 16:28] marc-donofrio opened #1964 "Minor edit in GCconnex blog still sends notifications"
As a user of GCconnex, I need the blog minor edit function to not send notifications.

The following group is reporting that the minor edit function is still sending notifications:
https://gcconnex.gc.ca/groups/profile/5822608?language=en

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ]

[2019-01-21 20:49] Menrika opened #1965 "Department issue - bad request/AJAX error/verify department --- Environment and Climate Change Canada"
## Ajax Error when user tries to log in. **Verify Department** in the URL

## User : https://gccollab.gctools-outilsgc.ca/a/tickets/6893

User Profile : https://gcconnex.gc.ca/profile/rakerman

Error Link: https://gcconnex.gc.ca/ajax/view/verify_department/verify_department

![image](https://user-images.githubusercontent.com/45214337/51498201-aa88c980-1d93-11e9-8f6e-690a6bb09d82.png)

## For the d

[2019-01-22 19:13] #1963 closed

[2019-01-24 18:29] martydonofrio opened #1966 "GCcollab search with simple keywords brings up nothing"
As a user of GCcollab, I need to be able to search with generic or simple keywords so that I can browse results.

Keyword searches like "smith" or "marc" come up blank.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references a

[2019-01-24 20:40] #1966 closed

[2019-01-24 20:41] martydonofrio commented on #1966
Fix with a restart by Ilia

[2019-01-24 20:53] Menrika opened #1967 "Deleted account still appearing on search index -- GCconnex"
## I have user's name that still appears on the search index of GCconnex even when their account has been deleted by me around a month ago.

## Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/6743

![image](https://user-images.githubusercontent.com/45214337/51707713-e4560c00-1fef-11e9-8beb-f3cf0d86a1d5.png)

Email of user : **kabitha.thiruvarangan@cra-arc.gc.ca**
Username : **Kabitha.Thiru

[2019-01-24 22:34] Phanoix commented on #1967
Pretty sure this should get fixed when gcconnex gets fully re-indexed @4rsood ?

[2019-01-25 13:34] marc-donofrio opened #1968 "GCpedia link for Collectivités leads to the english page"
As a user of GCpedia, I need the language to be the same when clicking on a link.

While navigating in french on the main page(http://www.gcpedia.gc.ca/wiki/Main_Page), the link on the left hand menu for Collectivités leads to the english page:
![image](https://user-images.githubusercontent.com/42844328/51748822-98e93f80-207b-11e9-9128-387d9ad7f94f.png)
Result:
![image](https://user-images.githubu

[2019-01-25 15:51] Phanoix commented on #1968
This page already toggles between English and French versions based on interface language. The convention so far for bilingual pages like this is to either have a bilingual title or have it hidden like on the main page, so that is something that is missing here.

[2019-01-29 20:53] martydonofrio opened #1969 "Submitting tickets from GCconnex shows other email addresses"
A user reported that they can see other user's email addresses when submitting a ticket as shown here:

![image](https://user-images.githubusercontent.com/42844328/51939552-bef54380-23dd-11e9-97db-99ced03d05c0.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by

[2019-01-31 19:59] Menrika opened #1970 "Folders not appearing in Folder Structure of user --- GCcollab"
## User Story for the issue in the format of "As a user of type AAA, I need XXX so that I can YYY."
A user has encountered an issue in were folders don't appear in the Folder structure  and neither do they appear in the Parent folder selections and secondary folder when they try to upload a file which makes it impossible to move around folders and file.

It is important to note that the only folde

[2019-01-31 21:06] martydonofrio opened #1971 "English and French files cannot be uploaded to the same link in GCconnex"
As a user of GCconnex, I need to upload English and French files to the same link so users can download the file in the language of navigation.

Currently, the file description text can be toggled between English and French but only 1 file is uploaded. Example: https://gcconnex.gc.ca/file/view/45918014/psrs-overview-srfp-apercu?language=en

## For the development team
- [ ] Issue user story docume

[2019-02-01 15:50] #1956 closed

[2019-02-01 16:06] martydonofrio opened #1972 "GCconnex - Career Marketplace's job swap filter doesn't work"
As a user of the GCconnex Marketplace, I need the filters to work so that I can browse opportunities .

Career Marketplace's job swap filter doesn't work:
![image](https://user-images.githubusercontent.com/42844328/52134363-6c9c6880-2611-11e9-9912-8e24942a221d.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated b

[2019-02-01 20:12] #1972 closed

[2019-02-05 17:22] Menrika opened #1973 "GCdirectory not syncing on Google Chrome --- GCconnex"
## GCdirectory not syncing on Google Chrome with GCconnex but works fine with Internet Explorer

When trying to sync account, the widget keeps on loading without any actions being taken further.

It was also noticed that it had synced incorrectly with an account where the profile info and picture synced under an another name.

## For the development team
- [ ] Issue user story documented
- [ ] UX

[2019-02-06 19:19] martydonofrio opened #1974 "GCcollab duplicate pages"
As a user of GCcollab, I need to be able to delete duplicate pages.

The user was trying to create a new page and it timed out. Several pages titled "Career Path - Mariam Stitou – Global Affairs Canada, Procurement Professional" were created and they cannot be edited or deleted:
https://gccollab.ca/pages/group/868173/all

## For the development team
- [ ] Issue user story documented
- [ ] UX input

[2019-02-07 15:25] Menrika opened #1975 "Tickets not received into FreshDesk + No GCcollab emails received --- many domains"
## HelpDesk has been unable to receive Freshdesk tickets from some users of over multiple organizations even when it had been submitted. Users are also not receiving emails from **GCcollab.**

It is suspected that their department network is blocking the emails.

Issue raised with : **21** users in which 2 were not associated with accounts

Excel sheet: https://gccollab.gctools-outilsgc.ca/helpdes

[2019-02-07 16:26] Menrika commented on #1959
@martydonofrio Was this one fixed?

[2019-02-07 20:27] martydonofrio opened #1976 "GCcollab group fatal error in IE"
As a user of GCcollab groups, I need to access a page that shows a fatal error.

This group shows a fatal error in IE:
https://gccollab.ca/groups/profile/1227749/enpublic-service-renewal-beyond-2020-renouvellement-de-la-fonction-publique-u2013-au-delu00e0-de-2020frrenouvellement-de-la-fonction-publique-u2013-au-delu00e0-de-2020-public-service-renewal-beyond-2020

This one also: https://gccollab.ca

[2019-02-08 12:56] Phanoix commented on #1976
Looks like it's actually some general connectivity issues, should be fixed now.

[2019-02-08 12:56] #1976 closed

[2019-02-08 18:46] martydonofrio commented on #1975
Here are the orgs that reported email issues so far:

University of   Ottawa - university - student
Canada Revenue Agency
Fisheries and Oceans Canada
Immigration, Refugees and Citizenship   Canada
Delmar International Inc. - business
National Defence
University of Waterloo - university -   student
Canada Border Services Agency
Auditor General of Canada (Office of the)
MacEwan University - universi

[2019-02-08 19:34] #1954 closed

[2019-02-08 19:44] nschonni commented on #1954
@bryan-robitaille  was something done today, because as of yesterday this is still an issue

[2019-02-08 20:00] bryan-robitaille commented on #1954
@nschonni I am closing this issue as the research has been completed and the source of the problem found.  This is not an issue on the GCollab end but rather the various departments blocking the GCTools current email provider.  The much more global issue will be tracked on issue #1975

[2019-02-08 20:22] bryan-robitaille commented on #1975
I've made some modifications on SendGrid to rewrite all tracking links to remove any mention of sendgrid.net

[2019-02-15 15:25] ethanWallace commented on #1975
Given the original information provided about the issue. If a user received a success message while submitting a ticket, the API functioned correctly and anything not working after that is out of our control. Even though it won't solve this issue directly, a pull request has been made to improve the system feedback when submitting a ticket on all platforms.

@martydonofrio Have you contacted Fresh

[2019-02-15 16:33] nschonni commented on #1975
At IRCC, I have received GCMessage emails for private message notifications, but still don't receive other GCCollab messages

[2019-02-15 20:36] martydonofrio commented on #1975
@ethanWallace We are still getting reports of users not getting confirmation emails. I sent a message to freshdesk asking for help and will let you know what happens.

[2019-02-15 20:37] martydonofrio commented on #1975
We are now getting reports of some groups not sending out their notifications at all.

[2019-02-18 15:58] martydonofrio opened #1978 "Tagging images in GCconnex not working"
As a user of GCconnex, I need to be able to tag usernames on images in my group.

Example group that cannot tag users: https://gcconnex.gc.ca/photos/album/46405175/rencontre-superviseur-2019

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closin

[2019-02-18 15:58] martydonofrio commented on #1978
https://gccollab.gctools-outilsgc.ca/a/tickets/7237

[2019-02-18 18:16] Menrika opened #1979 "GCcollab onsite search brings up nothing"
## onsite search isn't working (18 Feb 19)

## Search in members or general searches don't bring up any results.

Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/7288

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment refere

[2019-02-18 19:42] martydonofrio commented on #1979
Ilia restarted it and it now works.

[2019-02-18 19:42] #1979 closed

[2019-02-20 16:53] martydonofrio commented on #1975
Here is an example of a group that is not getting notifications through email:
https://gccollab.ca/groups/profile/595477/encanadian-cubesat-projectfr

[2019-02-21 00:49] martydonofrio commented on #1975
I tested receiving tickets with 5 people at IRCC through the freshdesk site (https://gccollab.gctools-outilsgc.ca/en/support/tickets/new) instead of the help page and all tickets went through. All my responses were received too.

[2019-02-21 14:21] Menrika opened #1980 "French Translation on GCaccount page --- Error/ Change Request"
## User noticed a few translation errors on the GCaccount landing page.

## Details on issue or enhancement

![image](https://user-images.githubusercontent.com/45214337/53174904-d24c9680-35b8-11e9-833a-1d6949a1e587.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review complet

[2019-02-21 15:26] Menrika opened #1981 "Fatal Error on Career Market Place --- GCcollab"
## Fatal error on career marketplace on GCcollab while trying to find members

 " I am consistently getting a 'fatal error' (see attachment) when trying to search 'find members' within the Career Marketplace.  I have logged out/in and rebooted my computer multiple times.  I have no outstanding updates for my workstation. "

User email : alec.judt@forces.gc.ca
Username : alecjudt

**( On Internet E

[2019-02-21 15:38] Menrika opened #1982 "XSS in profile page --- Security Vulnerability on GCcollab"
## A User raised an issue about about Security Vulnerability that we may have on our GCcollab.

## Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/7349

" I don't know if you are interested about security vulnerabilities on your GCcollab website but I have found some of them.

You can look at the pictures for an example and to see the area where they can be injected.

Description

Editing

[2019-02-21 19:44] martydonofrio opened #1983 "GCconnex sub-group not showing parent group"
As a user of GCconnex groups, I need to see the parent group for a subgroup I am trying to join.

Sub-group not showing parent group in breadcrumb:
https://gcconnex.gc.ca/groups/profile/12852061/my-gchr-reporting-network-reseau-detablissement-de-rapports-de-mes-rhgc?language=en

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Desig

[2019-02-22 16:33] LemieuxGen commented on #1975
Blocked: Currently beyond our control. Management needs to decide how we want to proceed with this issue. Options could be:
1- SMTP server in the cloud
2- comms to CIOS
3- private vendors directly to unblock list SendGrid.

@ethanWallace to divide card in separate cards that could potentially be addressed separately.

[2019-02-22 17:00] martydonofrio commented on #1975
2 more groups reported not receiving any notifications:

https://gccollab.ca/groups/profile/1503270/ensciencefridayfr
https://gccollab.ca/groups/profile/1597275/enfederal-water-networkfr

[2019-02-22 17:08] martydonofrio opened #1984 "GCconnex missing Export Development Canada for profiles"
A user requested we add Export Development Canada to the drop-down of depts for profiles.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or pull requests
- [ ] Issue closed

[2019-02-25 15:27] Phanoix opened #1985 "Prepare a helm chart for use in creating review sites"
* to be used with gitlab
* should be in /.chart

[2019-02-25 15:28] Phanoix opened #1986 "Connect with gitlab ci/cd"

[2019-02-27 19:28] martydonofrio opened #1987 "GCmessage user can't load site"
The user tahira.khan@pptc.gc.ca cannot get GCmessage to load with IE or Firefox. They only get the 3 dots loading.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or pull requests
- [

[2019-02-28 15:43] martydonofrio commented on #1952
The page 3 of the members list still doesn't load.

[2019-03-04 17:01] Menrika opened #1988 "Error when trying to access content - blank documents"
## Ever since one of the groups that I work with had issues in December, where content disappeared, members have been messaging me saying that they are unable to access files because they are either "corrupt" or the documents are completely blank when they are downloaded.
It seems that an error occurred when the content was restored.

I'm hoping that I won't have to re-upload  all of the files, as

[2019-03-04 20:57] Menrika commented on #1988
Some of the files :
https://gccollab.ca/file/view/1467964/en2018-11-07-imcc-system-rulesfr
https://gccollab.ca/file/view/1629733/en2019-01-16-agenda-imcc-working-groupfr2019-01-16-ordre-du-jour-groupe-de-travail-du-bcgi
https://gccollab.ca/file/view/1622856/en2018-12-19-imcc-working-group-notesfr2018-12-19-notes-du-groupe-de-travail-de-la-bcgi

[2019-03-07 13:26] #1950 closed

[2019-03-07 16:33] Steph4104 commented on #1952
@martydonofrio User deleted. All page works fine now

[2019-03-07 16:33] #1952 closed

[2019-03-07 20:19] Menrika opened #1990 "The Office of the Superintendent of Financial Institutions missing from dropdown list --- Help section of GCcollab"
## The Office of the Superintendent of Financial Institutions is missing from the dropdown list. Can only manually inputted in the "other" section.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or conne

[2019-03-08 19:47] Menrika opened #1991 "French correction on the "Par ou commencer" --- GCcollab"
##  A User noticed a spelling error on the french page on the screen "Prochaines étapes"

Dans le texte de droite :  « Faites PARS des ... » qui devrait s'écrire « Faites part »

Ne soyez pas timide, essayez-le! Publiez un message sur le Fil au sujet de vos dernières nouvelles, faites _pars_ **part** des événements et des projets intéressants à venir, ou posez simplement cette question sur laquell

[2019-03-12 19:07] Menrika commented on #1990
Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/7458

[2019-03-13 18:14] Menrika opened #1992 "Password error message appears in English in French registration page -- GCcollab"
##  "Bien que j'ai choisi la langue française les instructions apparaissent en anglais."

![image](https://user-images.githubusercontent.com/45214337/54303839-45cf3b80-459a-11e9-9097-5320791c152b.png)

Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/5177

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by b

[2019-03-13 19:50] Menrika commented on #1964
https://gccollab.gctools-outilsgc.ca/a/tickets/5872 (From November)

[2019-03-14 19:28] Menrika commented on #1099
Freshdesk:
https://gccollab.gctools-outilsgc.ca/a/tickets/5557
https://gccollab.gctools-outilsgc.ca/a/tickets/6773

[2019-03-18 12:42] marc-donofrio opened #1993 "Text pop-up has spelling error"
The pop-up text for subscribing to content has a spelling error as shown here:
![image](https://user-images.githubusercontent.com/42844328/54530780-12096280-495a-11e9-9776-ca295001b331.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing

[2019-03-18 16:05] Menrika commented on #1975
Another Ticket to check, in which their security group responded : https://gccollab.gctools-outilsgc.ca/a/tickets/7681

[2019-03-19 16:11] Menrika opened #1994 "Error with timestamps --- GCcollab."
## User : posted a document at 11am (EST) and the timestamp reads 2:54pm.  noticed this issue throughout GCcollab. Wondering if it's due to an incorrect server setting.

## Details on issue or enhancement

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [

[2019-03-22 15:31] Troy-Lawson commented on #1978
will fix by removing tag feature.

[2019-03-22 15:31] Troy-Lawson commented on #1978
since it never worked and we will never build it

[2019-03-22 15:34] Troy-Lawson commented on #1974
this issue is to clean up database side and remove duplicate pages

[2019-03-22 15:36] Troy-Lawson commented on #1973
is this still an issue? may need more info

[2019-03-25 13:55] Phanoix opened #1995 "Test ways of copying uploaded files between azure file shares and subscriptions"
Find the one way that works best, start with ```az storage file copy start-batch```.

[2019-03-25 18:23] Phanoix commented on #1995
```az storage file copy start-batch``` seems to be the way to go

[2019-03-25 18:49] Phanoix commented on #1981
Looks like this needs a fulltext index over metastrings.string. I'll add it.

[2019-03-25 18:51] #1995 closed

[2019-03-26 04:48] #1981 closed

[2019-03-26 04:51] Phanoix commented on #1981
Also needed over objects_entity.title, didn't like the one that also included the description. It works now.

[2019-03-26 14:33] Menrika commented on #1973
@Troy-Lawson

It is although I haven't had any new users mentioning this issue.

[2019-03-27 21:04] #1985 closed

[2019-03-28 12:52] Steph4104 commented on #1978
Tag option remove. I only uncheck the option in the plugin.
Admin panel / Settings / TydiPics / Primary setting : Enable image tagging.

[2019-03-28 12:53] #1978 closed

[2019-03-28 17:10] #1278 closed

[2019-03-28 17:15] Addyvan commented on #1278
I think this card is the byproduct of a bigger problem which is how we are generating the list of options and how we are maintaining user departments in the event of changes in this list.

I propose that rather than figure out how to add specific missing departments we reopen a discussion on how we can maintain up to date and correctly titled department and agency names in their entirety.

[2019-03-29 17:35] #1986 closed

[2019-04-02 19:37] Menrika commented on #1975
It appears that a lot of employees (if not most) from Financial Consumer Agency of Canada are also dealing with this issue.
https://gccollab.gctools-outilsgc.ca/a/tickets/7880

[2019-04-02 20:12] Phanoix opened #1998 "Review sites: should create both collab and connex instances for review"

[2019-04-02 20:42] Phanoix opened #1999 "Provide link to review site in PRAdd a comment or status message in the relevant pull request with a link to the review site when it's created."
Add a comment or status message in the relevant pull request with a link to the review site when it's created.

[2019-04-03 20:55] #1998 closed

[2019-04-05 15:46] Troy-Lawson opened #2002 "Research Fresh-desk login issue"
This card is for research only of the related issue.

[2019-04-08 17:58] ethanWallace commented on #2002
Maybe the issue?

https://support.freshdesk.com/support/solutions/articles/236807-sso-is-not-working-and-getting-the-message-session-expired-please-login-again-

We use the UTC timestamp to generate the hash for validation. Before we were allowing the hash to be valid for 30 minutes, but now we have updated it to be valid for 30 seconds alone. Please check if your SSO server is in sync with the UT

[2019-04-10 15:24] martydonofrio opened #2003 "Ajax error on News feed"
A user is getting an ajax error when trying to access the GCconnex News feed on IE 11.0.9600.19301:
![image](https://user-images.githubusercontent.com/42844328/55891738-16a0ef80-5b83-11e9-9f1e-b4013159d918.png)

IE version:
![image](https://user-images.githubusercontent.com/42844328/55891605-d6da0800-5b82-11e9-9f61-08f041d5fda5.png)

## For the development team
- [ ] Issue user story documented
-

[2019-04-10 15:25] martydonofrio commented on #2003
Freshdesk: https://gccollab.gctools-outilsgc.ca/a/tickets/7882

[2019-04-11 15:24] martydonofrio opened #2004 "GCcollab notification duplicate wording"
When receiveing a notification, the description in French has duplicate wording as shown here:
## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/55969665-351eed80-5c4c-11e9-84ee-a38e5e3a2328.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [

[2019-04-12 15:02] marc-donofrio opened #2005 "Membership list not viewable in GCconnex"
Membership list not viewable, can the user that is causing the problem be identified?

https://gcconnex.gc.ca/groups/profile/46446644/the-lighthouse-victoria?language=en

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references

[2019-04-15 14:08] ethanWallace commented on #2002
Potential different way to format freshdesk_sso view.

https://gist.github.com/jasonhildebrand/43520463d17bddce4576ab712cc5d857

[2019-04-15 14:18] ethanWallace commented on #2002
Research hasn't yielded a definitive answer as to why this issue is happening. The best I could come up with is in the first comment above. If that fails to work we can contact freshdesk directly through the email provided in the same comment.

[2019-04-15 14:18] #2002 closed

[2019-04-16 13:14] Menrika opened #2006 "Change on "Subject" on the notifications --- GCcollab"
##  I would like to suggest to change the 'Subject' of the notifications to the actual title of the element.  Seeing a list of notifications all by the same name is really not useful at all.

Freshdesk: https://gccollab.gctools-outilsgc.ca/a/tickets/7754

## Details on issue or enhancement

![image](https://user-images.githubusercontent.com/45214337/56212365-d8df1380-6027-11e9-8c65-6219e48a9cc2.pn

[2019-04-23 15:48] marc-donofrio opened #2007 "Missing file from GCCollab group"
A file seems to have been deleted from GCcollab.

Here was the link: https://gccollab.ca/docs/view/2103964/plan-for-juristictional-scan
It was located here: https://gccollab.ca/file/group/1828982/all

Would it be possible to restore that file?

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
-

[2019-04-29 15:41] Phanoix commented on #568
Cleaned up notifications removing those older than 90 days.

[2019-04-29 15:41] #568 closed

[2019-05-02 14:24] martydonofrio opened #2010 "GCcollab group docs content not loading"
As a user of group docs, I get the following error message when accessing the content of the docs:

Cannot GET /p/?userName=admin+-+marc&showControls=true&useMonospaceFont=false&showChat=false&showLineNumbers=false

https://gccollab.ca/docs/view/2172983/design-jam-task-list
https://gccollab.ca/docs/view/2167605/key-messages-data-as-an-asset-workshop-draft
https://gccollab.ca/docs/view/2172346/note

[2019-05-03 15:31] marc-donofrio opened #2011 "GCcollab digest email not being received"
As a user of GCcollab, I need to get digest emails weekly.

User konstantinmanyakin@cmail.carleton.ca is getting password reset emails and location logins but no digest emails.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment refe

[2019-05-03 15:31] martydonofrio commented on #2011
For helpdesk: https://gccollab.gctools-outilsgc.ca/a/tickets/8260

[2019-05-03 15:36] nschonni commented on #2011
Duplicate of #1975?

[2019-05-03 15:43] Troy-Lawson commented on #2011
8 points for Investigation only

[2019-05-03 18:01] marc-donofrio opened #2012 "tagging someone in a GCcollab doesn't work"
As a user of GCcollab group discussions, I need to tag users in order to notify them.

When typing @name and clicking on a username, the result is just the plain text username.

The following discussion was flagged as an example:
https://gccollab.ca/discussion/view/2169242/ensymposium-materialfr

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design com

[2019-05-09 19:10] Menrika commented on #1975
Tickets not received into Freshdesk : jean.richer@cic.gc.ca (IRCC)

- also getting reports that password reset emails are not being received.

https://gccollab.gctools-outilsgc.ca/a/tickets/8411

[2019-05-13 18:34] #448 closed

[2019-05-13 18:38] Menrika commented on #1975
https://gccollab.gctools-outilsgc.ca/a/tickets/8464 ( ESDC )

[2019-05-21 15:06] bryan-robitaille commented on #2010
Doc's cannot be recovered.  I have now enabled database backups on the Etherpad server.

[2019-05-21 15:06] #2010 closed

[2019-05-24 14:05] marc-donofrio opened #2014 "GCconnex group can't access members list"
Clicking on the members list shows a http error.

Group: https://gcconnex.gc.ca/groups/profile/46446644/the-lighthouse-victoria

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or pull

[2019-05-27 18:12] Phanoix commented on #1967
If this was gccollab then I could understand some outdated results right now. but I'm pretty sure gcconnex should have been fully re-indexed recently.

[2019-05-30 17:56] marc-donofrio opened #2015 "Search in GCconnex not indexing groups"
As a user of GCconnex, I need my group to appear in the search to help with discovery.

Group not appearing in the search:
https://gcconnex.gc.ca/groups/profile/48966025/2019-national-public-service-week-npsw-fnihb-isc-ab-region?language=en

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [

[2019-05-30 17:59] marc-donofrio opened #2016 "Gccollab digest not working"
As a user of Gccollab, I need the daily digest to be notified of updates.

Several users are reporting that the digest emails are not being sent out. Resetting their notification options did not help.

Users who reported this issue:
alana.johnson@hrsdc-rhdcc.gc.ca
nick.schonning@cic.gc.ca
konstantinmanyakin@cmail.carleton.ca
chenaitukiso.muzondo@servicecanada.gc.ca
guillaume.faubert@canada.ca

##

[2019-05-30 22:43] nschonni commented on #2016
Duplicate of #2011 and #1975

[2019-06-04 16:19] Phanoix commented on #2016
Looks like it's elgg cron issues, I'll set them up to be triggered through k8s jobs.

[2019-06-05 15:18] #2015 closed

[2019-06-10 14:50] marc-donofrio opened #2018 "GCconnex group files deleted"
The user's group files were all deleted. The user wishes to know what happened and can a list of files or the files themselves be retrieved?

Group link:
https://gcconnex.gc.ca/groups/profile/32553148/iseds-hr-transformation-open-house-journees-portes-ouvertes-sur-la-transformation-des-ressources-humaines-disdes-ouvertes-lean?language=en%C2%A0

## For the development team
- [ ] Issue user story do

[2019-06-10 19:47] Menrika commented on #1959
Can't Login to Support Panel :

https://gccollab.gctools-outilsgc.ca/a/tickets/8681
Email : Brenda.lovett@canada.ca (CEAA)

[2019-06-13 13:43] #2016 closed

[2019-06-13 16:04] marc-donofrio commented on #2005
Fixed by deleting all old unvalidated accounts.

[2019-06-13 16:04] #2005 closed

[2019-06-13 16:08] marc-donofrio commented on #2011
duplicate.

[2019-06-13 16:08] #2011 closed

[2019-06-17 11:57] #1967 closed

[2019-06-18 17:22] marc-donofrio commented on #1975
https://gccollab.gctools-outilsgc.ca/a/tickets/9009

[2019-06-19 15:23] Phanoix commented on #2018
Doesn't look like a bug but a side effect of a user being deleted.

[2019-06-19 20:06] Menrika opened #2019 "Duplicate Postings of Files"
## Every time a post a file to GCconnex, the file gets posted twice (with about a 2 minute delay between the postings) - see attached screen capture. In addition, after the posting process completes it always return a timeout error to me.

![image](https://user-images.githubusercontent.com/45214337/59796656-fa6cad80-92ab-11e9-98b3-45b515711f44.png)

Ticket : https://gccollab.gctools-outilsgc.ca/a/

[2019-06-20 15:41] LemieuxGen commented on #1439
Closing this issue as a solution is not possible. Help desk agent are now using a different workflow.

[2019-06-20 15:41] #1439 closed

[2019-06-20 16:50] #1960 closed

[2019-06-24 12:53] #2018 closed

[2019-06-25 12:56] joesb commented on #1179
Are there any plans to upgrade the Elgg core for GCconnex? Elgg is now on 3.x

[2019-06-25 15:56] Menrika commented on #1994
https://gccollab.gctools-outilsgc.ca/a/tickets/9126

[2019-06-25 16:01] Menrika commented on #1994
Related Github issue : https://github.com/gctools-outilsgc/gcconnex/issues/1099

[2019-06-25 19:00] marc-donofrio opened #2020 "GCcollab twitter widget not working"
As a user of Gccollab I need the twitter search widget to display content.

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/60125481-e1f00d80-9759-11e9-95e3-ce12aaa01d52.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review compl

[2019-07-04 15:04] marc-donofrio opened #2027 "GCcollab group files error"
The GCcollab group files doesn't load and gives the error message:

"JSON response could not be decoded"

![image](https://user-images.githubusercontent.com/42844328/60675821-4cd0d100-9e4b-11e9-9f9a-8b3e86d783a7.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed

[2019-07-04 15:06] marc-donofrio commented on #2027
https://gccollab.gctools-outilsgc.ca/a/tickets/9241
https://gccollab.gctools-outilsgc.ca/a/tickets/9198

[2019-07-08 17:21] marc-donofrio opened #2030 "GCaccount password reset link error"
When requesting a password reset email, the link a user is provided is already expired.

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/60829568-2a102680-a183-11e9-99ef-0f07c9a9cec0.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code

[2019-07-08 17:44] marc-donofrio commented on #2030
For helpdesk:
https://gccollab.gctools-outilsgc.ca/a/tickets/9287
https://gccollab.gctools-outilsgc.ca/a/tickets/9288
https://gccollab.gctools-outilsgc.ca/a/tickets/9290
https://gccollab.gctools-outilsgc.ca/a/tickets/9292
https://gccollab.gctools-outilsgc.ca/a/tickets/9293
https://gccollab.gctools-outilsgc.ca/a/tickets/9296
https://gccollab.gctools-outilsgc.ca/a/tickets/9297
https://gccollab.gctoo

[2019-07-10 20:16] Menrika opened #2031 "Password reset bug"
## I have re-set my password today.  When I try to use it a 2nd time, it does not work.
This has happened about ten times over the past month.  Very frustrating.

Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/9338

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review com

[2019-07-11 19:29] #2031 closed

[2019-07-15 17:31] nschonni commented on #1975
Just received a few digest emails at IRCC this morning (9:06, 9:07, and 9:11), so maybe part of the IRCC is resolved

[2019-07-15 18:42] marc-donofrio opened #2032 "GCcollab linkedin sync not working"
When syncing a profile to pull data from Linkedin, GCollab briefly displays a banner that the data was not received.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or pull requests
-

[2019-07-23 21:10] Menrika opened #2034 "Docs issue"
##  Myself (and all other group members) are getting an error when they try to load any of our Docs (Beta). We get the error "**JSON response could not be decoded". These documents are extremely important to us as they alert us to delays in the analysis of our samples**

Link ; https://gccollab.ca/docs/view/214480/orhc-method-status-etat-des-methodes-cycle-6

Ticket : https://gccollab.gctools-outi

[2019-07-24 13:15] Menrika opened #2035 "GCmessage password reset page"
##

je peux maintenant accéder à gcmessage, mais j'ai toujours cette fenêtre qui apparaît :
( Every time user tries to log into GCmessage they are directed to a page asking them to reset their emails since their emails is apparently not validated but I have already validated the email)

![image](https://user-images.githubusercontent.com/45214337/61795828-430b0f80-adf2-11e9-9112-2a5f51584d5d.png)

[2019-07-24 13:55] Menrika opened #2036 "Preview Blog Post function broken"
## As a GCcollab user
I want a preview function
so that I can preview my post before submitting.

Issue:
Currently, using Firefox when I select the preview button it actually publishes the article.

Hack:
The current hack is to publish the article as a draft to preview it before posting.

 Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/9590

## Details on issue or enhancement

## For the

[2019-07-24 15:20] Menrika opened #2037 "Missing department in drop-down"
## Would it be possible top add the Parliamentary Protective Service as an organization in the drop down menu. The organization is described in the Parliament of Canada Act https://laws-lois.justice.gc.ca/eng/acts/p-1/page-16.html. In french the name should be Service de protection parlementaire.

Thank you as this will allow me to change my profile.

Ticket : https://gccollab.gctools-outilsgc.ca/

[2019-07-24 20:15] Menrika opened #2038 "Gateway error/JSON Error when creating -Pages- on GCcollab"
##  I recreated the page today and when I clicked published I got an error (something about a Gateway error?). So I refreshed, but got the error message again. Giving up, I then returned back to our “pages” page on our Group’s site and found two recently uploaded pages by me! In other words, despite the error message, the page did get published. Weird.

Ticket : https://gccollab.gctools-outilsgc.c

[2019-07-25 15:35] s-duffey opened #2039 "Add CIRNAC and remove INAC from list of departments"
## Details on issue or enhancement
Submitted from a user on July 25:

The INAC Department got split in 2 other Departments back in November last year or tso

Your site when selecting where you work currently has

ISC - Indigenous Services Canada,
but seems to be missing
CIRNAC - Crown-Indigenous Relations and Northern Affairs Canada

THe acronym INAC still shows... but doesn't exist anymore

## Fo

[2019-07-26 13:02] Menrika commented on #2038
https://gccollab.gctools-outilsgc.ca/a/tickets/9241
https://gccollab.gctools-outilsgc.ca/a/tickets/9198
https://gccollab.gctools-outilsgc.ca/a/tickets/9583

[2019-07-26 13:54] s-duffey commented on #2034
This issue has not yet been resolved.

[2019-07-26 19:43] Phanoix opened #2040 "Clean up, optimize archived missions query / page"
This page has gotten so bad it takes minutes to query and usually just times out.

[2019-07-29 11:18] #1991 closed

[2019-07-29 11:18] #1993 closed

[2019-07-29 13:54] Phanoix opened #2041 "Create an old notification pruning cron job mod"
Config: cutoff and frequency

[2019-07-31 17:56] Menrika commented on #2038
@piet0024 @Phanoix
Okay so the JSON error in the related card seems to be with the whole Group Docs on GCcollab from what what I could investigate and not just a group-centric issue

[2019-08-07 14:51] PhilAndrecheck commented on #2035
@ethanWallace, is this resolved?

[2019-08-07 14:52] PhilAndrecheck commented on #2038
@Phanoix has this been resolved?

[2019-08-07 14:53] PhilAndrecheck commented on #2037
@Troy-Lawson who's reviewing?

[2019-08-07 14:55] PhilAndrecheck commented on #2039
@Troy-Lawson who's reviewing this one?

[2019-08-07 14:55] ethanWallace commented on #2035
@PhilAndrecheck We have reached out the the user experiencing this problem and have yet to hear back. So at this time it is unknown.

[2019-08-07 14:59] PhilAndrecheck commented on #2036
@Steph4104 qui fait la revue ?

[2019-08-07 15:09] PhilAndrecheck commented on #2035
@ethanWallace thanks.
Should this be moved to blocked then?

[2019-08-07 15:11] ethanWallace commented on #2035
If we don't hear back by the end of the sprint, it will be moved into blocked.

[2019-08-07 17:43] Phanoix commented on #2038
The JSON error should be, the other one I haven't been able to replicate.

[2019-08-07 19:01] Menrika commented on #2035
@ethanWallace They replied and they are still having the issue.

[2019-08-08 13:18] piet0024 commented on #2038
I also haven't been able to replicate this issue, do we know in what group this user was trying to create a page? Is this error still happening?

[2019-08-08 15:22] ethanWallace commented on #2035
It seems the issue was caused by a disconnect between GCaccount and GCmessage. GCmessage had the email field starting with a capital letter while GCaccount did not.

This didn't prevent the user from still using GCmessage they just needed to enter their password again but that extra step is annoying so by changing the GCmessage email to match the GCaccount email this will let the user continue nor

[2019-08-08 15:22] #2035 closed

[2019-08-08 15:50] Menrika commented on #2038
@piet0024
This is the group : https://gccollab.ca/groups/profile/2168792/enseb-digital-commonsfrdirection-gu00e9nu00e9rale-des-compu00e9tences-et-de-lemploi-dgce

[2019-08-09 12:56] Steph4104 commented on #2036
@PhilAndrecheck , c'était Ethan, je ferme l'issue car la pull request a été merger

[2019-08-09 12:56] #2036 closed

[2019-08-09 18:03] #2037 closed

[2019-08-09 18:03] #2039 closed

[2019-08-12 14:43] #2038 closed

[2019-08-15 11:47] marc-donofrio opened #2044 "GCcollab error when posting"
As a user of GCcollab discussions, I keep getting an error message occasionally when posting.

FF 68.0.1 (64-bit) on a Mac.

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/63092764-ca9af880-bf30-11e9-9db5-3d15502406cd.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design valida

[2019-08-19 15:27] Phanoix opened #2045 "phpmailer mod doesn't work with unauthenticated smtp"
Currently the mod settings are somewhat hard-coded and need some cleanup and fixing.

[2019-08-19 15:30] Phanoix opened #2046 "Create azure devops CD yaml file"
This is only for instances that can't use other things like gitlab, brigade, etc.

[2019-08-20 14:27] Menrika opened #2048 "Restoration of group file /// GCcolab"
## Unfortunately this group is still missing some documents.
It was recently brought to our attention that this document is blank when opened: https://gccollab.ca/file/view/307205/enterms-of-reference-imcc-renewal-working-groupfrmandat-groupe-de-travail-pour-le-ru00e9nouvellement-du-bcgi#elgg-object-2698779

Is there any way that it can be restored? This document was created before I joined the gr

[2019-08-22 14:54] #2040 closed

[2019-08-22 21:52] #2045 closed

[2019-09-06 18:48] Menrika opened #2053 "Time adjustment"
## Hi there,

It seems that the time zone on GCcollab is pacific.  Any way in changing it to our time zone?

Thanks!

Ticket : https://gccollab.gctools-outilsgc.ca/a/tickets/10312
## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment re

[2019-09-09 15:05] Troy-Lawson commented on #2048
ask @Phanoix

[2019-09-09 17:37] Menrika opened #2054 "French Language Correction -- GCconnex group album"
##

Mon équipe et moi avons créé un groupe sur GCconnex. Une personne de la haute gestion a apporté des commentaires lors de l’approbation de nos documents. Elle requiert des modifications qui nous sont impossibles à faire puisque les mots sont générés par le système. Est-ce possible pour vous de faire les modifications requises svp? De cette manière, nous allons éviter des plaintes concernant les

[2019-09-10 15:52] Menrika opened #2055 "File upload override in Eng/Fr -- GCcollab"
## We've encountered an error that we would greatly appreciate your help with!

In "Groups" under "Files", under "Upload a file", the file that you upload under the French (or English) tab overrides the file that was previously uploaded under the English (or French) tab.

Because of this, you can not upload the English version of the document on the English tab, and the French version of the docum

[2019-09-12 12:04] marc-donofrio opened #2059 "GCpedia paged cannot be edited"
When clicking on the Edit button on a page, the following error appears:

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/64782706-e09dd800-d533-11e9-94e6-02dfbd6b019b.png)

Example: https://www.gcpedia.gc.ca/wiki/Immigration,_Refugees_and_Citizenship_Canada_(IRCC)/Knowledge_Management/New_titles-Nouveaux_titres

## For the development team
- [ ] Issu

[2019-09-12 12:21] marc-donofrio opened #2060 "GCpedia file upload limit is now 2MB"
![image](https://user-images.githubusercontent.com/42844328/64783610-425f4180-d536-11e9-8bdd-804e6fb44d40.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connected issues or pull requests
- [ ] Is

[2019-09-12 12:25] marc-donofrio opened #2061 "GCconnex member lists in groups appear blank"
When clicking on any group's member list, the list appears blank.

Example: https://gcconnex.gc.ca/groups/members/46265148
https://gcconnex.gc.ca/groups/profile/46446644/the-lighthouse-victoria

## Details on issue or enhancement
![image](https://user-images.githubusercontent.com/42844328/64783832-bbf72f80-d536-11e9-89db-ac5c7826e7ed.png)

## For the development team
- [ ] Issue user story documen

[2019-09-16 15:09] marc-donofrio opened #2063 "GCconnex links in emails appear blocked"
When a user receives a notification email, the links inside the email appear to be blocked but the user can access gcconnex.gc.ca

This issue cannot be replicated from our end.

Example:
https://u12122282.ct.sendgrid.net/wf/click?upn=ZCzkC2BRv-2BnSzBZtlLzlT0GOcclD1-2FEUVfJfwT3bt2DhUD1txj5ZWSkcJ6jv5i1MID98uPViI0grGFt-2BN-2B-2BVX53U0qkQLMqw7ieqhEEM0RuZndYfOD9X91rzxDn2XgUE_V-2FUUiW5KvBPNV-2FItFYsbuM5

[2019-09-17 15:03] Menrika opened #2064 "GCconnex - Message reply + Inbox"
##

For GCconnex, I didn’t get your email from my Outlook but I am able to see the message you sent to me when I login to the GCconnex website …  the problem is I am not able to reply you even  from website. When I click the “Reply” button, nothings happens… when I tried to send message again. I still get  “We could not find the recipient in the user database”. It is really weird. The problem is o

[2019-09-18 14:12] marc-donofrio commented on #2059
A user is still having issues and got the following error:
![image](https://user-images.githubusercontent.com/42844328/65156257-c3b64880-d9fc-11e9-825a-8bddb33bdbe8.png)

Is this related or should it be a different ticket?

[2019-09-18 14:18] bryan-robitaille commented on #2059
This should be a different ticket.  It's not related to the original issue.

[2019-09-18 14:21] marc-donofrio opened #2065 "GCpedia page cannot be edited"
A user is having issues when clicking on the edit button and got the following error:
image
![image](https://user-images.githubusercontent.com/42844328/65156963-f6ad0c00-d9fd-11e9-835b-f163c93c8d9c.png)
Function: Revision::insertOn
Error: 2006 MySQL server has gone away (10.55.139.91)
Page: https://www.gcpedia.gc.ca/wiki/Immigration,_Refugees_and_Citizenship_Canada_(IRCC)/Knowledge_Management/New_

[2019-09-18 17:49] nschonni commented on #2065
Same issue, i filed https://github.com/gctools-outilsgc/gcpedia/issues/124
I thought it was related to the & in the title in mine, but maybe it's something else

[2019-09-20 17:06] Phanoix commented on #2060
It's probably the new apache configuration, I'll have a look.

[2019-09-23 12:02] marc-donofrio opened #2067 "GCconnex user's profile won't load"
The following user cannot access his profile:

https://gcconnex.gc.ca/profile/Thomas.Carnegie

The page only loads if the viewer is not logged in.

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team / UX
- [ ] Code review completed by peer
- [ ] Issue closing comment references any duplicate or connec

[2019-09-23 15:58] marc-donofrio opened #2068 "GCconnex duplicate message text in notification"
When using the email all members group option, there is only 1 text box but the message gets sent out in duplicated form as shown here:

![image](https://user-images.githubusercontent.com/42844328/65441921-407c6480-ddf9-11e9-809c-644232e03ffe.png)

## For the development team
- [ ] Issue user story documented
- [ ] UX input received
- [ ] Design completed
- [ ] Design validated by business team /